<!DOCTYPE html>

<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
    <base href="{pathUrlBase}"><!--[if lte IE 8]></base><![endif]-->

    <meta charset="UTF-8">
    <!--[if IE 8 ]><meta http-equiv="X-UA-Compatible" content="IE=7"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-language" content="es" />

    <title>{sTituloVista}</title>
    <meta name="description" content="{sMetaDescription}" />
    <meta name="keywords" content="{sMetaKeywords}" />

    {jsContent}

    <link rel="stylesheet" href="gui/css/backEnd/style.css">
    <link rel="stylesheet" href="gui/css/backEnd/jquery.tipsy.css">
    <link rel="stylesheet" href="gui/css/backEnd/jquery.wysiwyg.css">
    <link rel="stylesheet" href="gui/css/backEnd/jquery.datatables.css">
    <link rel="stylesheet" href="gui/css/backEnd/jquery.facebox.css">
    <link href="gui/css/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="gui/css/prettyPhoto.css" type="text/css" media="screen, projection" charset="utf-8" />

    {cssContent}
    
    <script type="text/javascript"> var pathUrlBase = "{pathUrlBase}"; </script>
</head>

<body>
    {msgTop}
    
    <section role="navigation">
        <header>
            <h1>Proyecto SGPAPD</h1>
            <ul class="male0">
                <li><a href="{hrefHomeModuloIndex}" title="Inicio web visitantes"><span class="i bs home"></span> Inicio Visitantes</a></li>
                <li><a href="{hrefHomeModuloComunidad}" title="Inicio comunidad"><span class="i bs group"></span> Inicio Comunidad</a></li>
                <li><a href="{hrefHomeModuloSeguimientos}" title="Inicio seguimientos"><span class="i mi relationshipPeople"></span> Inicio Seguimientos</a></li>
                <li><a href="{hrefHomeModuloAdmin}" title="Inicio Administrador"><span class="i bs admin"></span> Inicio Admin</a></li>
            </ul>
        </header>

        <section id="user-info">
            <img src="{scrAvatarSession}" alt="avatar {userName}">
            <div>
                <a href="{hrefEditarPerfil}" title="Editar usuario">{userName}</a>
                <em>{perfilDescripcion}</em>
                <ul>
                    <li><a class="button-link" href="{hrefCerrarSesion}" title="Cerrar Sesion" rel="tooltip">Cerrar Sesion</a></li>
                </ul>
            </div>
        </section>

        <nav id="main-nav">
            <ul>
                <li {currentOptionModeracion}>
                    <a href="#" title="Moderar">Moderacion</a>
                    <ul>
                        <li><a class="no-submenu" href="{sHrefPersonasModeracion}" rel="tooltip" title="Modificaciones en datos personales de discapacitados">Discapacitados</a></li>
                        <li><a class="no-submenu" href="{sHrefPublicacionesModeracion}" title="">Publicaciones</a></li>
                        <li><a class="no-submenu" href="{sHrefInstitucionesModeracion}" title="">Instituciones</a></li>
                        <li><a class="no-submenu" href="{sHrefInstitucionesSolicitudes}" title="Solicitudes para administrar contenido de instituciones" rel="tooltip">Solicitudes Institucion</a></li>
                        <li><a class="no-submenu" href="{sHrefSoftwareModeracion}" title="">Software</a></li>
                    </ul>
                </li>
                <li {currentOptionDenuncias}>
                    <a href="#" title="Moderar Denuncias">Denuncias</a>
                    <ul>
                        <li><a class="no-submenu" href="{sHrefPublicacionesDenuncias}" title="">Publicaciones</a></li>
                        <li><a class="no-submenu" href="{sHrefInstitucionesDenuncias}" title="">Instituciones</a></li>
                        <li><a class="no-submenu" href="{sHrefSoftwareDenuncias}" title="">Software</a></li>
                    </ul>
                </li>
                <li {currentOptionUsuarios}>
                    <a href="#" title="Administrar Usuarios Sistema">Administrar Usuarios</a>
                    <ul>
                        <li><a class="no-submenu" href="{sHrefUsuariosListar}" title="">Listar Usuarios</a></li>
                    </ul>
                </li>
                <li {currentOptionPersonas}>
                    <a href="#" title="Administrar Discapacitados">Administrar Discapacitados</a>
                    <ul>
                        <li><a class="no-submenu" href="{sHrefDiscapacitadosListar}" title="">Listar Personas</a></li>
                    </ul>
                </li>
                <li {currentOptionPublicaciones}>
                    <a href="#" title="Administrar Publicaciones Sistema">Administrar Publicaciones</a>
                    <ul>
                        <li><a class="no-submenu" href="{sHrefPublicacionesListar}" title="">Listar Publicaciones</a></li>
                    </ul>
                </li>
                <li {currentOptionSoftware}>
                    <a href="#" title="Administrar Cat&aacute;logo Descargas Sistema">Administrar Descargas</a>
                    <ul>
                        <li><a class="no-submenu" href="{sHrefSoftwareListar}" title="">Listar Descargas</a></li>
                    </ul>
                </li>
                <li {currentOptionEspecialidades}>
                    <a href="#" title="Administrar lista de especialidades y Áreas de desempeño profesional">Administrar Especialidades</a>
                    <ul>
                        <li><a class="no-submenu" href="{sHrefEspecialidadListar}" title="">Listar Especialidades</a></li>
                        <li><a class="no-submenu" href="{sHrefEspecialidadCargar}" title="">Cargar una nueva Especialidad</a></li>
                    </ul>                    
                </li>
                <li {currentOptionCategorias}>
                    <a href="#" title="Administrar lista de categorias">Administrar Categorias</a>
                    <ul>
                        <li><a class="no-submenu" href="{sHrefCategoriaListar}" title="">Listar Categorias</a></li>
                        <li><a class="no-submenu" href="{sHrefCategoriaCargar}" title="">Cargar una nueva Categoria</a></li>
                    </ul>
                </li>
                <li {currentOptionInstituciones}>
                    <a href="#" title="Administrar Instituciones">Administrar Instituciones</a>
                    <ul>
                        <li><a class="no-submenu" href="{sHrefInstitucionesListar}" title="">Listar Instituciones</a></li>
                    </ul>
                </li>
                <li {currentOptionAvanzadas}>
                    <a href="#" title="Administracion Avanzada">Administraci&oacute;n Avanzada</a>
                    <ul>
                        <li><a class="no-submenu" href="{sHrefAccionesPerfil}" title="">Administrar acciones por perfil</a></li>
                    </ul>
                    <ul>
                        <li><a class="no-submenu" href="{sHrefParametros}" title="">Administrar parametros sistema</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </section>
	
    <section role="main">
        <section id="widgets-container">
            {widgetsContent}
        </section>
        {mainContent}
    </section>

</body>
</html>