/*** GENERALES ***/

/* Make sure the layout is centered in IE5 */
body{text-align:center;}
/* Fixes IE margin bugs */
* html .menu_horizontal{overflow-x: hidden;}
/* Fixes IE7 missing wrapping of code elements. */
html>body p code { *white-space: normal; }
/* Explicitly set interpolation, allowing dynamically resized images to not look horrible */
img { -ms-interpolation-mode:bicubic; }
/* Fixes padding on fieldset */
fieldset { padding-top:0; }
/* Makes classic textareas in IE 6 resemble other browsers */
textarea { overflow:auto; }
/*linea extra clearfix ie6*/
* html .grupo{height:1%}
/*linea extra clearfix ie7*/
*:first-child+html .grupo{display:inline-block} 
/*Fixes incorrect placement of numbers in ol's in IE6/7*/
ol{margin-left:2em}

input[type="checkbox"], input[type="radio"]{ background:transparent; border:none !important}
/* reseteo a mano los fonts porque en ie6/7 no corre el inherit lamentablemente */
*:first-child+html textarea{font:100% Arial, Helvetica, sans-serif}
* html textarea{font:100% Arial, Helvetica, sans-serif}
*:first-child+html input, *:first-child+html select{font:100% Arial, Helvetica, sans-serif}

/* hacks para que ie6 y ie7 soporten min-height etc*/
* html .mihe0{height:100px; height:auto !important;} *:first-child+html .mihe0{height:100px; height:auto !important;}
* html .mihe1{height:200px; height:auto !important;} *:first-child+html .mihe1{height:200px; height:auto !important;}
* html .mihe2{height:300px; height:auto !important;} *:first-child+html .mihe2{height:300px; height:auto !important;}
* html .mihe3{height:400px; height:auto !important;} *:first-child+html .mihe3{height:400px; height:auto !important;}
* html .mihe4{height:500px; height:auto !important;} *:first-child+html .mihe4{height:500px; height:auto !important;}

* html .miwi0{width:100px; width:auto !important;} *:first-child+html .miwi0{width:100px; width:auto !important;}
* html .miwi1{width:200px; width:auto !important;} *:first-child+html .miwi1{width:200px; width:auto !important;}
* html .miwi2{width:300px; width:auto !important;} *:first-child+html .miwi2{width:300px; width:auto !important;}
* html .miwi3{width:400px; width:auto !important;} *:first-child+html .miwi3{width:400px; width:auto !important;}
* html .miwi4{width:500px; width:auto !important;} *:first-child+html .miwi4{width:500px; width:auto !important;}

/*** PLANTILLA ***/
* html button, * html label, * html select, * html li, * html .puntaje{cursor:pointer}
i{cursor:pointer}

.bo_wh{border:1px solid white !important}

* html #wrapper{text-align:left}
* html #frameIndex02 #centerPageCont{height:250px; height:auto !important;}
*:first-child+html #frameIndex02 #centerPageCont{height:250px; height:auto !important;}

input, button{overflow:visible !important;}
/* hago un hack de line-height para los botones en ie7 */
*:first-child+html .button button{line-height:12px; padding:0px !important}
*:first-child+html .buttonLarge button{line-height:18px; padding:0px 6px !important}
*:first-child+html .buttonXLarge button{line-height:26px; padding:2px 12px !important}

/* Para todos los ie esto */
.form_line{overflow:hidden}

* html #msg_top{text-align:left}

/* iconos ie6 ie7 */
* html .valoracion, * html .puntaje, *html .i, *html .i32{overflow:hidden}
*html .iveal .i, *html .iveal .i32{margin:2px 3px 2px 3px !important}
*:first-child+html .iveal .i, *:first-child+html .iveal .i32{margin:2px 3px 2px 3px !important}

*html .sc{background-image:url("images/iconos/social.gif")}
*html .bs{background-image:url("images/iconos/basicos.gif")}
*html .mi{background-image:url("images/iconos/manejo-info.gif")}
*html .mc{background-image:url("images/iconos/misc.gif")}
*html .valoracion, *html .puntaje{background-image:url("../images/iconos/puntajes_bn.gif")}

* html .ba{background:url("images/fondos/fondo_secundario_transparente.gif") repeat;}

/* fichas */
* html .ficha04 .titulo{top:-22px}
*:first-child+html .ficha04 .titulo{top:-22px}