/****************************************/
/* RESETS */
/****************************************/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section, input, textarea, select{margin:0; padding:0; border:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline}

ul, ol{list-style:none}

/* Tables still need 'cellspacing="0"' in the markup. */
table{border-collapse: separate; border-spacing:0}
th, td{text-align: left; font-weight: normal}
table, td, th{vertical-align: middle}
div{display:block}

/* Remove annoying border on linked images. */
a img{border:none}

/*saca bordes naranjas en chrome etc*/
*:focus{outline:none}



/****************************************/
/* FIXES */
/****************************************/

/*clearfix*/
#wrapper:after, .grupo:after{visibility:hidden; display:block; content:"."; clear:both; height:0}
#wrapper, .grupo{display:block}

/*resetea extra padding en buttons*/
button:-moz-focus-inner{border:0; padding:0}



/****************************************/
/* GENERALES */
/****************************************/

body{width:100%; height:100%; font-family:Arial; font-size:0.75em; line-height:18px; direction:ltr;}
body, th, td{color:#333}
li{text-decoration:none}
i{background-color:#EEE}
p{margin-bottom:18px}

h1{font-size:2.8em; line-height:36px}
h2{font-size:1.7em}
h3{font-weight:bold}

a{text-decoration:none; color:#1111CC; outline:0;}
a:hover{text-decoration:underline}

#dialog{display:none}
table tr{}
table td{ width: 100px;}

/* Form Elements */
form{position:relative}
input, textarea, select, .fwrap{border:1px solid #999; background-color:#FFF}
.fwrap{margin-bottom:10px; cursor:text; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
input{padding:6px 4px} /* en ie7 select no es html es active-x asi que priorizar autocomplete en inputs en su lugar porq no agarra reglas, solo los options */
select{padding:5px 2px}
input, textarea{color:#333}
input[type="text"], input[type="password"], select{-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
textarea{outline:0px; vertical-align:bottom}
.textareaAutoGrow{resize:none; overflow:hidden}
.textAreaExpanded{height:300px !important}
input[type="submit"], label, select, li{cursor:pointer}
input[type="checkbox"], input[type="radio"]{padding:0px}

/* Para simular el width fluido en <textarea>, <input> y <select>
 * Nota: Los inputs wrappeados llevan padding en si mismos, textarea tiene padding porque el wrapper se lo asigna.
 */
.inner_fwrap{overflow:hidden; position:relative}
.inner_fwrap .restantes{color:#999}
.fwrap textarea, .fwrap input, .fwrap select{width:100%; border:0px none !important; background-color: transparent; outline:0 none;}
.fwrap textarea{padding:6px 4px; height:16px;}
.fwrap .textAreaLihe{padding:3px 4px; height:14px;}

/* El contenedor superior es el que tiene margin-bottom. Puede tenerlo el fwrap o el form_line. */
.form_line{position:relative; text-align:left; margin-bottom:10px}
.form_line .fwrap{margin-bottom:0 !important}
/* Tamanio line-height para form elements (mas chicos, entran en un renglon) */
.inputTextLihe{padding:3px 4px !important}
.inputSelectLihe {padding:2px 2px 2px 1px}
.inputSelectLihe option{padding:0px !important}
.textAreaLihe, .inputTextLihe, .inputSelectLihe{font-size:11px !important; margin:0 !important}

/*** BOTONES ***/
/* No cambiar el orden de las clases porque es importante para que se pisen los valores de las propiedades.
 * Nota: Estan seteadas las propiedades para la apariencia por defecto. 
 */
.button, .buttonText, .button button{ background: none repeat scroll 0 0 transparent; border:0 none; cursor: pointer; display: inline-block; font-size: 11px; font-family:Lucida Grande,Tahoma,Verdana,Arial,sans-serif; font-weight: bold; margin: 0; outline: medium none; padding: 1px 0 2px; white-space: nowrap;}
.button{color: #333; background-color:#EEE; background-image:-moz-linear-gradient(top, #FFF, #CCC); background-image:-webkit-gradient(linear, left top,left bottom, from(#FFF), to(#CCC)); background-image:linear-gradient(top, #FFF, #CCC); border-color:#CCC #666 #666 #CCC; border-style: solid; border-width: 1px;
        -moz-box-shadow:0 1px 0px #CCC; box-shadow:0 1px 0px #CCC; -webkit-box-shadow:0 1px 0px #CCC; cursor: pointer; display: inline-block; font-size: 11px; font-weight: bold; line-height: normal !important; padding:2px 6px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap}
.button:hover{ text-decoration: none; border-color:#666 !important}
.button:active{ background-color:#DDD; background-image:none; -moz-box-shadow:0 0 2px #666 inset; box-shadow:0 0 2px #666 inset; -webkit-box-shadow:0 0 2px #666 inset; background: none repeat scroll 0 0 #DDDDDD; text-decoration:none}
/* diferentes tamaños para los botones, por defecto los botones ocupan una linea (line-height) */
.buttonLarge, .buttonLarge .buttonText, .buttonLarge button{font-size:12px; padding:3px 6px}
/* agranda el size del boton, por defecto los botones ocupan una linea (line-height), este ocupa mas de una */
.buttonXLarge, .buttonXLarge .buttonText, .buttonXLarge button{font-size:16px; padding: 8px 12px; text-transform:uppercase}



/****************************************/
/* MICROESTILOS */
/****************************************/

.pa{padding:5px} .pa2{padding:10px} .pa3{padding:20px}
.pale{padding-left:5px} .pari{padding-right:5px} .pato{padding-top:5px} .pabo{padding-bottom:5px} 
.pale2{padding-left:10px !important} .pari2{padding-right:10px} .pato2{padding-top:10px} .pabo2{padding-bottom:10px}
.pale3{padding-left:20px} .pari3{padding-right:20px} .pato3{padding-top:20px} .pabo3{padding-bottom:20px} 
.pa0{padding:0 !important} .pale0{padding-left:0 !important} .pari0{padding-right:0 !important} .pato0{padding-top:0 !important} .pabo0{padding-bottom:0 !important} 
.male{margin-left:5px} .mari{margin-right:5px} .mato{margin-top:5px} .mabo{margin-bottom:5px}
.male2{margin-left:10px} .mari2{margin-right:10px} .mato2{margin-top:10px} .mabo2{margin-bottom:10px !important}
.male3{margin-left:20px} .mari3{margin-right:20px} .mato3{margin-top:20px} .mabo3{margin-bottom:20px !important}
.ma0{margin:0 !important} .male0{margin-left:0 !important} .mari0{margin-right:0 !important} .mato0{margin-top:0 !important} .mabo0{margin-bottom:0 !important}

.di_bl{display:block} .di_no{display:none !important} .di_in{display:inline}
.cl_bo{clear:both} .cl_le{clear:left !important} .cl_ri{clear:right !important}
.teal_le{text-align:left} .teal_ri{text-align:right} .teal_ce{text-align:center}
.tetr_ca{text-transform:capitalize}
.lihe2{line-height:36px} .lihe3{line-height:72px} .lihe0{line-height:0 !important /* Para bloques sin texto */}
.fl_ri{float:right} .fl_le{float:left} .fl_no{float:none !important} .fl_no li{float:none !important}
.bobo1{border-bottom:1px solid #CCC} .bo{border:1px solid #333 !important}
.bo_no{border:none !important} .boto_no{border-top:none} .bobo_no{border-bottom:none} .bole_no{border-left:none} .bori_no{border-right:none !important}
.fowe_bo{font-weight:bold}
.teta_up{text-transform:uppercase} .teta_ca{text-transform:capitalize}
.po_re{position:relative !important}
.po_ab{position:absolute !important}
.co{color:#333 !important}
.veal_mi{vertical-align:middle !important}
.mawi0{max-width:100px} .mawi1{max-width:200px} .mawi2{max-width:300px} .mawi3{max-width:400px} .mawi4{max-width:500px}
.miwi0{min-width:100px} .miwi1{min-width:200px} .miwi2{min-width:300px} .miwi3{min-width:400px} .miwi4{min-width:500px}
.mihe0{min-height:100px} .mihe1{min-height:200px} .mihe2{min-height:300px} .mihe3{min-height:400px} .mihe4{min-height:500px}
.fost_it{font-style:italic;}

.baco1{background-color:#FFF} .baco2{background-color:#9CF} .baco3{background-color:#3C9} .baco4{background-color:#CFC}
.ba_no{background:none !important}

.bora{-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.bora2{-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}
.bora3{-moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px;}
.bora4{-moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
.bora5{-moz-border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px; border-radius:5px 0 0 5px;}
.bora6{-moz-border-radius:0 5px 5px 0; -webkit-border-radius:0 5px 5px 0; border-radius:0 5px 5px 0;}

.bosh{-moz-box-shadow:0 1px 2px #333; box-shadow:0 1px 2px #333; -webkit-box-shadow:0 1px 2px #333;}
.bosh2{-moz-box-shadow:1px 2px 6px 0; box-shadow:1px 2px 6px 0; -webkit-box-shadow:1px 2px 6px 0 #333;}
.bosh3{-moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5); box-shadow:0 0 8px rgba(82, 168, 236, 0.5); -webkit-box-shadow:0 0 8px rgba(82, 168, 236, 0.5);}

.wi100p{width:100% !important;}
/****************************************/
/* TEMPLATES */
/****************************************/

.celda2, .celda3, .celda4{margin-bottom:10px; margin-right:10px; float:left;}

#frameIndex01 body{color:#666 !important}
#frameIndex01 #header{height: 90px; width: 100%}
#frameIndex01 #headerCont{margin:0 auto; width: 960px}
#frameIndex01 #headerCont #logo{float: left; margin:0; padding:0; width: 200px; padding-top:15px}
#frameIndex01 #headerCont #navigation{float: right; padding-top: 30px; position: relative; width: 760px; z-index: 9999;}
#frameIndex01 #subHeader{padding:20px 0;}
#frameIndex01 #subHeaderCont{margin: 0 auto; width: 960px}
#frameIndex01 #subHeaderCont #titulo{padding: 10px 0}
#frameIndex01 #subHeaderCont #slogan{padding-bottom: 10px; padding-top: 5px}
#frameIndex01 #Page{padding:20px 0}
#frameIndex01 #PageCont{margin: 0 auto; width: 960px}
#frameIndex01 #topPage{padding: 20px 0; width: 100%;}
#frameIndex01 #topPageCont{margin: 0 auto; width: 960px;}
#frameIndex01 #centerPage{display:table; padding:20px 0; width: 100%;}
#frameIndex01 #centerPageCont{margin: 0 auto; width: 960px;}
#frameIndex01 #footer{display: table; padding: 30px 0; width: 100%;}
#frameIndex01 #footerCont{margin: 0 auto; width: 960px}
#frameIndex01 #footerCont .celda4{padding: 20px 10px; width: 220px; margin:0 !important}
#frameIndex01 #footerCont .celda2{padding: 20px 10px; width: 460px; margin:0 !important}
#frameIndex01 #footerSub{display: table; padding: 10px 0; width: 100%}
#frameIndex01 #footerSubCont{margin: 0 auto; width: 960px;}
#frameIndex01 #footerSubCont #menu{float:left}
#frameIndex01 #footerSubCont #copyright{float:right}

#frameIndex02 body{color:#666 !important}
#frameIndex02 #topPage{margin: 0 auto; width: 600px; padding:10px; margin-top:80px; text-align:left;}
#frameIndex02 #centerPage{width: 100%}
#frameIndex02 #centerPageCont{margin:0 auto; padding:20px 10px; width: 600px; min-height:250px; text-align:center; position:relative}
/* ojo con este que si el contenedor vale mas de 600 no se ajusta fluidamente porq es absolute*/
#frameIndex02 #centerPageCont #titulo{position:absolute; width:600px; top:20px; text-align:center;}
#frameIndex02 #centerPageCont #subTitulo{position:absolute; top:200px; width:600px; text-align:center;}
#frameIndex02 #bottomPage{margin: 0 auto; width: 600px; padding:10px; text-align:center;}

/* El bloque topHeader no lo hago heredar de ningun frame porque lo quiero usar en el modulo de seguimientos y en el de comunidad */
#topHeader{height:30px; position:relative; width:100%; min-width:960px}
#topHeader #topHeaderMenuRight, #topHeader #topHeaderMenuLeft{height:30px; opacity:1; position:absolute; z-index:990}
#topHeader #topHeaderMenuRight a, #topHeader #topHeaderMenuLeft a{padding:7px 10px; z-index:1000;}
#topHeader #topHeaderMenuRight .optionSelected, #topHeader #topHeaderMenuLeft .optionSelected{padding:4px 10px 7px 10px}
#topHeader #topHeaderMenuLeft{top:0; left:0; padding-left:5px;}
#topHeader #topHeaderMenuRight{top:0; right:0; padding-right:5px;}

#frameComunidad01 #centerHeader{width:100%; height:123px; position:relative}
#frameComunidad01 #centerHeader #logo{position:absolute; top:20px; left:10px; width:200px;}
#frameComunidad01 #centerHeader #logo #logoTxt{position:absolute; top:65px; left:0; width:220px}
#frameComunidad01 #centerHeaderCont{padding:20px 10px; margin-left:230px; text-align:center; min-width:710px}
#frameComunidad01 #centerHeaderCont #centerHeaderContRight{float:right; margin-left:40px;}
#frameComunidad01 #page{width:100%; min-width:960px; position:relative; overflow:hidden; text-align:left; float:left;}
#frameComunidad01 #page #pageLeft{width:245px; float:left;}
#frameComunidad01 #page #pageRight{position:relative; margin-left:235px}
#frameComunidad01 #page .pageRightExpanded{margin-left:10px !important;}
#frameComunidad01 #page #pageLeft #pageMenuTopLeft{min-height:22px; padding:5px 10px;}
#frameComunidad01 #page #pageRight #pageMenuTopRight{min-height:22px; padding:5px 10px; position:relative; overflow:auto;}
#frameComunidad01 #page #pageRight #pageMenuTopRight #togleInnerCont{position:absolute; top:8px; right:10px;}
#frameComunidad01 #page #pageRight #pageMenuTopRight li a{margin-top: -5px; padding: 10px;}
/* tiene el hack para columnas fluidas con igual altura */
#frameComunidad01 #page #pageLeft #pageLeftCont{padding:10px 20px 0 10px; min-height:350px; margin-bottom:-2000px; padding-bottom:2000px;}
#frameComunidad01 #page #pageRight #pageRightCont{margin-bottom:-2000px; padding-bottom:2000px}
#frameComunidad01 #page #pageRight #pageRightCont #pageRightInnerCont{width:235px; float:right; padding:10px; margin-bottom:-2000px; padding-bottom:2000px}
#frameComunidad01 #page #pageRight #pageRightCont #pageRightInnerMainCont{padding:20px 10px; margin-right:256px; height:100%}
#frameComunidad01 #page #pageRight #pageRightCont #pageRightContMenuTop{padding:5px 10px; overflow:auto; height:100%;}

#popUpCont{padding:10px; position:relative; text-align:left; margin:0}
.popUpScroll{max-height:450px; overflow:auto;}

.columnas2 .col1, .columnas2 .col2{float:left; text-align:left}
.columnas2 .col1{width: 650px; min-height:200px;}
.columnas2 .col2{display: block; margin:30px 0 0 20px; position: relative; width: 270px}
.columnas2 .col2 .top{min-height:200px; overflow: hidden; padding-left: 20px}
.columnas2 .col2 .bottom{clear: both; height: 50px; top: 0}

.columnas2A .col1, .columnas2A .col2{float:left; text-align:left}
.columnas2A .col1, .columnas2A .col2{width:475px; min-height:200px;}
.columnas2A .col1{margin-right:10px}

/*** THUMBNAILS GRANDES, MEDIANOS Y CHICOS ***/
.th_fto_m, .th_fto_s{background: none repeat scroll 0 0; display:inline-block; outline:medium none; position:relative; vertical-align: bottom; text-align:left; border-collapse:collapse; border-spacing:0; line-height:0 !important}
.th_vid_m i, .th_fto_m i{height:120px; width:168px;} .th_fto_s i{height:48px; width:48px}
.th_vid_m{display:inline-block; padding:5px; position:relative}
.th_vid_m span{bottom:4px; display:block; position:absolute; right:4px}
.th_fto_m i, .th_fto_s i, .th_vid_m i{background-position:center 25%; background-repeat:no-repeat; display:block}	

/*** OTROS ***/
.valoracion{width:69px; height:14px; margin-top:2px}
.puntaje{width:82px; height:16px; margin-top:1px}
.puntaje div{float:left; width:16px; height:16px}
.m_horiz li{float:left; margin-right:5px;}
.m_vert li{margin-bottom:5px;}
/* mensajes */
#msg_top{left:50%; width:480px; text-align:center; overflow:hidden; position:absolute; top:-1px; z-index:10000; margin-left:-250px}
.msg_form{margin-bottom:10px;}
.msg_campo_izq, .msg_campo_der{position:absolute; width:200px; z-index:101;}
/* left y right se setean por style='' en cada form */
.msg_campo_der{text-align:left !important} .msg_campo_izq{text-align:right !important}
/* slides */
.slide{position:relative; padding-top:20px; margin:20px 0 10px 0}
.slide .slideExpanded, .slide .slideCollapsed{padding: 5px 5px 5px 0; position:absolute; top:-17px; left:0px}
.slide .slideExpanded .i, .slide .slideCollapsed .i{margin-right:5px;}
/* tabs */
.tabs .leftTabs{float:left; padding-left:10px}
.tabs .rightTabs{float:right; padding-right:10px}
.toggleTabs li{display:inline; border-bottom:0px !important;}


.paginacion a{background-color:#EEE; color:#333; border:1px #999 solid; padding:3px 5px 3px 5px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; text-decoration:none;}
.paginacion a:hover{border:1px #000 solid; text-decoration:none;}
.paginacion .activo{background-color: WindowFrame;color:#FFFFFF;}
.paginacion .activo span{font-weight: bold;text-transform: capitalize;}
/****************************************/
/* SKINS (ASPECTO VISUAL) */
/****************************************/

/*** BLOQUES DE LOS TEMPLATES ***/
.body01{background-color:#E9E9E9}

.header01{background-color:#FFF;}

.topHeader01{border-bottom:1px solid #807FFE; background-color:#EEEFFF; background-image:-moz-linear-gradient(top, #FFF, #EEEFFF); background-image:-webkit-gradient(linear, left top,left bottom, from(#FFF), to(#EEEFFF)); background-image:linear-gradient(top, #FFF, #EEEFFF)}

.subHeader01 {background: none repeat scroll 0 0 #807FFE;}
.subHeader01 #titulo{color:#FFF; text-shadow:2px 2px 2px #333; font-size:6em; line-height:54px}
/*Una escepcion porque es muy largo el nombre del proyecto*/
.subHeader01 #slogan{color:#FFFEEE; font-size: 2.3em; line-height: 18px;}
.subHeader01 h1{font-size:1em; line-height:32px;}

.centerHeader01 #logo #logoDesc{font-size:1.7em; text-shadow:1px 1px 1px #000; font-weight:bold;}
.centerHeader01 #logo #moduloDesc{font-size:1.7em; color:#999;}

/* template index */
.Page01{background-color:#FFF}
.Page01 .columnas2 .col2 .top{background:url("../images/fondos/sidebar-bg.png") no-repeat scroll left top #FFF;}
.Page01 .columnas2 .col2 .bottom{background:url("../images/fondos/sidebar-bg-bottom.png") no-repeat scroll left bottom #FFF;}

/* pagina en template de comunidad y seguimiento */
#frameComunidad01 .page01 {border-bottom:1px solid #CCC}
#frameComunidad01 .page01 #pageLeft #pageMenuTopLeft{background-color:#EEEFFF}
#frameComunidad01 .page01 #pageRight #pageMenuTopRight{background-color:#93B5F9; color:#FFF; border-radius:8px 0 0 0;}
#frameComunidad01 .page01 #pageRight #pageRightCont{border-left:12px solid #93B5F9}
#frameComunidad01 .page01 #pageRight #pageRightCont #pageRightInnerCont{background-color:#FFF; border-left:1px dashed #CCC}
#frameComunidad01 .page01 #pageRight #pageRightCont #pageRightContMenuTop{border-bottom:1px solid #CCC}

.topPage01{background-color:#FFF; color:#666; font-size:16px; letter-spacing: 1px;}
.topPage01 h2{color:#666; font-weight:bold;}
.centerPage01{background:url("../images/fondos/page-top-background.jpg") repeat-x scroll center top #E9E9E9;}

.topPage02{border-width:1px 1px 0 1px; border-style:solid; border-color:#999;}
.centerPage02 {background:url("../images/fondos/page-top-background.jpg") repeat-x scroll center top #E9E9E9}
.centerPage02 #centerPageCont{border-width:0 1px 0 1px; border-style:dashed; border-color:#CCC;}
.centerPage02 #titulo{font-size:6em; line-height:72px; font-weight:bold;}
.centerPage02 #subTitulo{color:#333; font-size:1.7em; line-height:36px;}
.bottomPage02{border-width:0 1px 1px 1px; border-style:solid; border-color:#999; font-size:0.8em}

.footer01{background:none repeat scroll 0 0 #807FFE;}
.footer01 h2{color:#FFF}
.footerSub01{background:url("../images/fondos/page-top-background.jpg") repeat-x scroll center top #E9E9E9;}
.footerSub01{font-size:0.8em}

.popupCont01{background-color:#FFF}

/*** COMPONENTES EN GENERAL ***/
.info, .error, .correcto{font-weight:bold; padding:10px; text-align:left}
.info{border:1px solid #FFCC34; background-color:#FFF4C2}
.error{border:1px solid #FF3835; background-color:#FFC5C4}
.correcto{border:1px solid #42FF35; background-color:#C8FFC4}
/* mensajes en formularios */
.form_line label{font-weight:bold; text-transform:uppercase;}
.form_line .hint, .form_line .error{color:#FFF; font-size:0.8em; font-weight:normal !important; text-shadow:1px 1px 1px #000; padding:5px 5px 4px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px; -moz-box-shadow:0px 1px 3px #333; box-shadow:0px 1px 3px #333; -webkit-box-shadow:0px 1px 3px #333; border:none;}
.form_line .hint{line-height:1.7em; border-top:2px solid #DBF0FF; background-color:#0090F8; background-image:-moz-linear-gradient(top, #37AFFF, #0090F8); background-image:-webkit-gradient(linear, left top,left bottom, from(#37AFFF), to(#0090F8)); background-image:linear-gradient(top, #37AFFF, #0090F8)}
.form_line .hint a{text-shadow:1px 1px 1px #FFF; font-weight:bold;}
.form_line .error{max-width:250px; margin-top:5px; background-color:#FF5C4F; background-image:-moz-linear-gradient(top, #FF918D, #FF3522); background-image:-webkit-gradient(linear, left top,left bottom, from(#FF918D), to(#FF3522)); background-image:linear-gradient(top, #FF918D, #FF3522)}
/* le doy la posicion de los iconos desde aca porque desde javascript solo cambia la clase */
form .correcto .i{background-position:-176px -224px}
form .error .i, .form_line .error .i{background-position:-96px -224px}
.form_line .hint .i{background-position:-64px -272px}
/* para cuando seleccionas un valor desde autocomplete al input se le agrega selected */
.form_line .selected{font-weight:bold; background-color:#EEEFFF !important}

.ficha01{background-color:#DEE3EA; font-family:Arial; padding:3px; border:1px solid #93B5F9; -moz-border-radius:3px 3px 0px 0px; -webkit-border-radius:3px 3px 0px 0px; border-radius:3px 3px 0px 0px}
.ficha01 .encabezado, .ficha01 .contenido{padding:10px; overflow:auto}
.ficha01 .encabezado{background-color:#FFF; margin-bottom:5px; border-bottom:1px solid #CCC}
.ficha01 .encabezado .izq{float:left; position:relative}
.ficha01 .encabezado .izq .icono{float:left; margin-right:10px}
.ficha01 .encabezado .izq .titulo{font-size:1.7em}
.ficha01 .encabezado .izq .subtitulo{font-size:0.8em}
.ficha01 .encabezado .der{float:right; position:relative}
.ficha01 .contenido{background-color:#E8EAFF; border-bottom:1px solid #FFF}

.ficha02{padding:10px; border:1px solid #999; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px; -moz-box-shadow:0px 3px 3px #888 inset; box-shadow:0px 3px 3px #999 inset; -webkit-box-shadow:0px 3px 3px #888 inset; border-top:1px solid #333;}
.ficha02 .puntuar .desc{font-weight:bold;}
.ficha02 .puntuar #txt_puntaje{font-size:1.7em}

.ficha03{background-color:#FFF; font-size:1em; font-family:Arial; padding:10px;}
.ficha03 .header{background-color:#FF9; padding:10px;}
.ficha03 p{text-align:right}

/* tiene que estar wrappeada con un <div class="grupo"></div> para que respete margin-top en ie7 */
.ficha04{margin-top:20px; font-size:1em; font-family:Arial; padding:35px 10px 10px; border:1px solid #CCC; position:relative; background-color:#EEEFFF; background-image:-moz-linear-gradient(top, #FFF, #EEEFFF); background-image:-webkit-gradient(linear, left top,left bottom, from(#FFF), to(#EEEFFF)); background-image:linear-gradient(top, #FFF, #EEEFFF)}
.ficha04 .titulo{padding:4px 6px; background-color:#80A3C9; border:1px solid #666; position:absolute; top:-20px; text-transform:capitalize; font-size:1.7em; color:#FFFFFF;}

.ficha05{text-align:left; padding:10px; background-color:#FFF; border:1px solid #CCC}
.ficha05 .titulo{font-size:1.7em; border-bottom:1px solid #AAA; padding-bottom:10px; margin-bottom:10px;}

.slide01{border-top:1px dashed #999; padding-top:20px;}
.slide01 .slideExpanded, .slide01 .slideCollapsed{background-color:#FFF; font-size:1.7em; cursor:pointer;}
.slide01 .slideExpanded .mi{background-position:-96px -224px}
.slide01 .slideCollapsed .mi{background-position:-176px -224px}

.tabs01 .tabs{border-bottom:1px solid #898989}
.tabs01 .toggleTabs li{background:#DDD; border:1px solid #BBB; border-bottom:0px !important; -moz-border-radius:2px 2px 0 0; -webkit-border-radius:2px 2px 0 0; border-radius:2px 2px 0 0;}
.tabs01 .toggleTabs li a{color:#333 !important}
.tabs01 .tabContent{background:none repeat scroll 0 0 #F7F7F7 !important; border:1px solid #BBB !important; border-top:0px !important;}
.tabs01 .ui-tabs-selected{font-weight:bold !important; border-color:#898989 !important; background-color:#F7F7F7 !important; background-image:-moz-linear-gradient(top, #FFF, #F7F7F7) !important; background-image:-webkit-gradient(linear, left top,left bottom, from(#FFF), to(#F7F7F7)) !important; background-image:linear-gradient(top, #FFF, #F7F7F7) !important}

/* menu ppal comunidad/seguimientos */
ul.menu01 li a{color:#1111CC !important; text-decoration: none; font-weight:bold}
.menu01, .menu01 *{list-style: none outside none}
.menu01{line-height:1;}
.menu01 ul{position: absolute; top: -999em; width: 200px;}
.menu01 ul li{width: 100%;}
.menu01 li a .i{float:none !important}
.menu01 li a:hover{background-color:#D1D9FF}
.menu01 li{float: left; position: relative}
.menu01 a{display: block; position: relative}
.menu01 li:hover ul, li.sfHover ul{left:0; top: 2.5em; z-index:1000;}
ul.menu01 li:hover li ul, ul.menu01 li.sfHover li ul{top: -999em;}
ul.menu01 li li:hover ul, ul.menu01 li li.sfHover ul{left: 220px; top: 0;}
ul.menu01 li li:hover li ul, ul.menu01 li li.sfHover li ul{top: -999em;}
ul.menu01 li li li:hover ul, ul.menu01 li li li.sfHover ul{left: 10em; top: 0;}
.menu01 a{text-decoration: none}
.menu01 a, .menu01 a:visited {color:#000;}
.menu01 li li{background: none repeat scroll 0 0 #EEEFFF; text-align: left; border-width:0 1px 0 1px; border-style:solid; border-color:#807FFE}
.menu01 li li:last-child{border-bottom:1px solid #807FFE}
.menu01 li li:hover{background: none repeat scroll 0 0 #E9E9E9;}
.menu01 li li a{font-weight:normal !important}
.menu01 li:hover, .menu01 li.sfHover, .menu01 a:focus, .menu01 a:hover, .menu01 a:active{outline: 0 none}
.menu01 a.sf-with-ul {min-width: 1px; padding-right: 0}
.menu01 .optionSelected{border-top:3px solid #93B5F9}

.menu02 a{text-decoration:none; font-weight:bold;}
.menu02 a:hover{text-decoration:underline;}
.menu02 li{margin-left:15px; list-style-type:square; color:#1111CC;}

/* Menu ppal */
.menu03{text-align:right; z-index:50}
.menu03 ul.menuList {float: right; height: 30px; z-index: 50;}
.menu03 ul.menuList li {display:inline; padding: 5px 10px;}
.menu03 ul.menuList li a {color:#000; font-size: 18px; line-height:20px; letter-spacing: 1px; text-decoration: none;}
.menu03 .menuList, .menuList * {list-style: none outside none; margin: 0; padding: 0;}
.menu03 .menuList {line-height:1;}
.menu03 .menuList ul {position: absolute; top: -999em; width: 200px;}
.menu03 .menuList ul li {width: 100%;}
.menu03 .menuList li:hover{background: none repeat scroll 0 0 #F9F9F9; visibility: inherit}
.menu03 .menuList li{float: left; position: relative}
.menu03 .menuList a{display: block; position: relative}
.menu03 .menuList li:hover ul, .menuList li.sfHover ul{left: 0; top: 2.5em; z-index: 99;}
.menu03 ul.menuList li:hover li ul, ul.menuList li.sfHover li ul{top: -999em;}
.menu03 ul.menuList li li:hover ul, ul.menuList li li.sfHover ul{left: 220px; top: 0;}
.menu03 ul.menuList li li:hover li ul, ul.menuList li li.sfHover li ul{top: -999em;}
.menu03 ul.menuList li li li:hover ul, ul.menuList li li li.sfHover ul{left: 10em; top: 0;}
.menu03 .menuList a{text-decoration: none}
.menu03 .menuList a, .menuList a:visited {color:#000;}
.menu03 .menuList li li {background: none repeat scroll 0 0 #F9F9F9; border-bottom: 1px solid #E9E9E9; padding: 5px 10px; text-align: left;}
.menu03 .menuList li li:hover{background: none repeat scroll 0 0 #E9E9E9;}
.menu03 .menuList li li a{color:#000; font-size: 14px;}
.menu03 .menuList li:hover, .menuList li.sfHover, .menuList a:focus, .menuList a:hover, .menuList a:active{outline: 0 none}
.menu03 .menuList a.sf-with-ul {min-width: 1px; padding-right: 0}

.menu04 a{text-decoration:none; padding-left:5px; padding-right:10px; color:#999 !important}
.menu04 a:hover{text-decoration:underline;}
.menu04 li{border-right:1px solid #999}

/* fotos */
.thumb01{padding:5px; background-color:#FFF; border:1px solid #CCC; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}
.thumb01:hover{border:1px solid #333; text-decoration:none}
/* videos */
.thumb02{padding:5px; background-color:#333; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}
.thumb02:hover{text-decoration:none}
.thumb02 i{border:1px solid #333}
.thumb02 i:hover{border:1px solid #FFF}
.thumb02 span{padding:1px 5px; background:none repeat scroll 0 0 #333; color:#FFF}
/* no ampliable */
.thumb03{padding:3px; border-width:1px 2px 2px 1px; border-style:solid; border-color:#E7EBF2 #AAA #AAA #E7EBF2; cursor:default !important; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}

/*** BOTONES ***/
/* confirmar accion */
.buttonConfirm{-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background-image:none; border-color:#DBE5F9 #5D729B #5D729B #DBE5F9; background-color: #93B5F9}
.buttonConfirm:active{border-color:#5D729B; background-color: #84A3E0; -moz-box-shadow:0 0 2px blue inset; box-shadow:0 0 2px blue inset; -webkit-box-shadow:0 0 2px blue inset}

/* confirmar accion especial */
.buttonSpecial{-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background-image:none; border-color:#B2FFB2 #548E54 #548E54 #B2FFB2; background-color: #81DB81}
.buttonSpecial:active{border-color:#548E54; background-color: #78C978; -moz-box-shadow:0 0 2px green inset; box-shadow:0 0 2px green inset; -webkit-box-shadow:0 0 2px green inset}

.buttonConfirm button, .buttonSpecial button, .buttonSpecial .buttonText, .buttonConfirm .buttonText{color:#FFF; text-shadow:#666 1px 1px 1px}

/*** TABLAS ***/
.table01{background-color:#FFF;}
.table01 tr:hover{background-color:#EEEFFF}
.table01 td{border-bottom:1px solid #E5E5E5; padding:10px 4px 10px 4px}
.table01 .encabezado td{color:#555571; text-transform:uppercase; font-weight:bold}
.table01 .encabezado:hover{background-color:#FFF !important}

/*** VARIOS ***/
.fte2{font-size:0.8em}
.fte3{font-size:1.7em} /* Puede utilizarse en lineas de 36px */
.fte4{font-size:2.8em; line-height:36px}
/* mas grande que esto imposible.. max size para casos especiales tipo 404 etc. se sigue respetando multiplos de 18px q equivale a un renglon */
.fte5{font-size:6em; line-height:72px;}

.txt_cuidado{color:#F00}
.txt_imp{font-weight:bold; text-transform:capitalize}
.txt_imp2{font-weight:bold; text-transform:uppercase}
p .destacado{font-weight:bold;}

.defVal{color:#CCC}
.defVal:focus{color:#333} /* Para textareas e inputs con valores por defecto */

.marca_obligatorio{color:red; font-size:12px; font-weight:bold;}

.disabled, .ajaxdelay *{opacity:0.5; filter:alpha(opacity = 40)}
.disabled{color:#AAA !important; cursor:default !important;}
/* si el contenedor no tiene position relative va a parar a la punta de la pantalla (no esta mal, se puede usar) */
#ajax_loading{position:absolute; top:10px; right:10px; background-repeat:no-repeat; background-position:center 25%; z-index:101; opacity:1 !important; filter:alpha(opacity = 100) !important}
.ajax_wait30{height:27px; width:28px; background-image:url("../images/iconos/wait30trans.gif");}
.ajax_wait16{height:16px; width:16px; background-image:url("../images/iconos/wait16trans.gif");}

/*** ICONOS ***/
.valoracion, .puntaje{background-image:url("../images/iconos/puntajes_bn.png"); background-repeat:no-repeat}
.puntaje{cursor:pointer}
/* val = valoraciones, pun = form puntuar */
.val0{background-position:-89px -142px}
.val0_2{background-position:-89px -128px}
.val1{background-position:-89px -114px}
.val1_2{background-position:-89px -100px}
.val2{background-position:-89px -86px}
.val2_2{background-position:-89px -72px}
.val3{background-position:-89px -58px}
.val3_2{background-position:-89px -44px}
.val4{background-position:-89px -30px}
.val4_2{background-position:-89px -16px}
.val5{background-position:-89px -2px}

.pun0{background-position:-3px -223px}
.pun1{background-position:-3px -163px}
.pun2{background-position:-3px -123px}
.pun3{background-position:-3px -83px}
.pun4{background-position:-3px -43px}
.pun5{background-position:-3px -3px}

/* porque se usan en <span> que es un tag lineal */
.i, .i32{display:inline-block} 
.i{height:16px; width:16px} .i32{height:32px; width:32px} 
/* cuando hay un icono dentro de un link */
a .i{margin-right:4px; float:left}
/* para utilizar iconos alineados verticalmente con texto. La clase va en el contenedor y se usa asi para el fix de ie6 */
/* esta clase no se usa cuando los iconos van dentro de tags <a> !! */
.iveal .i, .iveal .i32{vertical-align:middle}
/* para convertir el icono en boton si es que se usa como tal pero solo sin <a> */
.ihover:hover{cursor:pointer; background-color:#DDD; outline:1px solid #AAA}
/* para iconos dentro de inputs lineheight */
.inner_fwrap .i{position:absolute; top:2px; right:2px;}

/* redes sociales */
.sc{background:url("../images/iconos/social.png") no-repeat scroll} /* imagen, que para ie6 cambia se usa gif */
.delicious{background-position:0px -34px} .delicious:hover{background-position:0px -87px}
.delicious32{background-position:0px 0px} .delicious32:hover{background-position:0px -53px}
.digg{background-position:-34px -34px} .digg:hover{background-position:-34px -87px}
.digg32{background-position:-34px 0px} .digg32:hover{background-position:-34px -53px}
.facebook{background-position:-68px -34px} .facebook:hover{background-position:-68px -87px}
.facebook32{background-position:-68px 0px} .facebook32:hover{background-position:-68px -53px}
.linkedin{background-position:-102px -34px} .linkedin:hover{background-position:-102px -87px}
.linkedin32{background-position:-102px 0px} .linkedin32:hover{background-position:-102px -53px}
.myspace{background-position:-136px -34px} .myspace:hover{background-position:-136px -87px}
.myspace32{background-position:-136px 0px} .myspace32:hover{background-position:-136px -53px}
.reddit{background-position:-170px -34px} .reddit:hover{background-position:-170px -87px}
.reddit32{background-position:-170px 0px} .reddit32:hover{background-position:-170px -53px}
.twitter{background-position:-204px -34px} .twitter:hover{background-position:-204px -87px}
.twitter32{background-position:-204px 0px} .twitter32:hover{background-position:-204px -53px}

/* gui */
.bs{background:url("../images/iconos/basicos.png") no-repeat scroll}
.add{background-position:0px -224px} .add32{background-position:0px 0px}
.arrowDown{background-position:-32px -224px} .arrowDown32{background-position:-32px 0px}
.arrowLeft{background-position:-48px -224px} .arrowLeft32{background-position:-64px 0px}
.arrowRight{background-position:-32px -240px}
.arrowUp{background-position:-48px -240px} .arrowUp32{background-position:-96px 0px}
.arrowRefresh{background-position:-16px -240px} .arrowRefresh32{background-position:-128px 0px}
.cancel{background-position:-96px -224px} .cancel32{background-position:-160px 0px}
.close{background-position:-160px -224px} .close32{background-position:-192px 0px}
.confirm{background-position:-176px -224px} .confirm32{background-position:-224px 0px}
.play32{background-position:-256px 0px}
.controlSkipBack{background-position:0px -256px} .controSkipBack32{background-position:-288px 0px}
.controlSkipForward{background-position:-16px -256px} .controlSkipForward32{background-position:-320px 0px}
.stop{background-position:-208px -224px} .stop32{background-position:-352px 0px}
.delete{background-position:0px -272px} .delete32{background-position:-384px 0px}
.edit{background-position:-16px -272px} .edit32{background-position:0px -32px}
.warning{background-position:-80px -272px} .warning32{background-position:-32px -32px}
.settings{background-position:-192px -240px} .settings32{background-position:-64px -32px}
.search{background-position:-208px -240px} .search32{background-position:-96px -32px}
.save{background-position:-224px -224px} .save32{background-position:-128px -32px}
.photoDouble32{background-position:-160px -32px} .photoSingle{background-position:-272px -240px} .photoSingleAdd{background-position:-256px -240px} .photoSingleRemove{background-position:-256px -224px} .photoSingleEdit{background-position:-272px -224px} 
.admin{background-position:0px -240px} .admin32{background-position:-192px -32px} .adminEdit{background-position:-16px -224px} 
.calendar{background-position:-80px -240px} .calendar32{background-position:-224px -32px} .calendarAdd{background-position:-64px -224px} .calendarEdit{background-position:-80px -224px} .calendarRemove{background-position:-64px -240px}
.chart{background-position:-112px -240px} .chart32{background-position:-256px -32px} .chartAdd{background-position:-112px -224px} .chartRemove{background-position:-96px -240px}
.clock{background-position:-128px -224px} .clockAdd{background-position:-128px -240px} .clockRemove{background-position:-144px -240px} .clockEdit{background-position:-144px -224px}
.contact32{background-position:-288px -32px} .contactEdit{background-position:-192px -224px}
.document{background-position:-48px -272px} .document32{background-position:-320px -32px} .documentAdd{background-position:-32px -256px} .documentRemove{background-position:-48px -256px} .documentEdit{background-position:-32px -272px}
.help{background-position:-64px -256px} .help32{background-position:-352px -32px}
.infoo{background-position:-64px -272px} .info32{background-position:-384px -32px}
.lockClosed32{background-position:0px -64px}
.movie{background-position:-336px -240px} .movie32{background-position:-32px -64px} .movieAdd{background-position:-320px -224px} .movieRemove{background-position:-320px -240px} .movieEdit{background-position:-336px -224px}
.notepad{background-position:-288px -224px} .notepad32{background-position:-64px -64px} .notepadEdit{background-position:-304px -240px} .notepadRemove{background-position:-304px -224px} .notepadAdd{background-position:-288px -240px}
.user{background-position:-128px -256px} .user32{background-position:-96px -64px} .userAdd{background-position:-96px -272px} .user32Add{background-position:-128px -64px} .user32Remove{background-position:-192px -64px} .userEdit{background-position:-112px -272px} .user32Edit{background-position:-160px -64px} .user32Secure{background-position:-256px -64px}
.group{background-position:-112px -256px} .group32{background-position:-224px -64px}
.report{background-position:-224px -240px} .report32{background-position:0px -96px} 
.folderOpen32{background-position:-32px -96px}
.rss{background-position:-240px -224px} .rss32{background-position:-64px -96px}
.folderClosedAdd{background-position:-96px -256px} .folderClosed32Add{background-position:-96px -96px}
.link{background-position:-384px -224px} .link32Add{background-position:-128px -96px} .linkAdd{background-position:-400px -224px} .linkRemove{background-position:-384px -240px} .linkEdit{background-position:-400px -240px}
.comment{background-position:-176px -240px} .commentAdd{background-position:-160px -240px}
.print{background-position:-240px -240px}
.mail{background-position:-352px -224px} .mailEdit{background-position:-368px -224px} .mailRemove{background-position:-368px -240px} .mailAdd{background-position:-352px -240px}
.home{background-position:-80px -256px}

.mi{background:url("../images/iconos/manejo-info.png") no-repeat scroll}
.attachment{background-position:-32px -224px} .attachment32{background-position:0px 0px} .attachmentAdd{background-position:-16px -224px} .attachmentRemove{background-position:0px -240px} .attachmentEdit{background-position:-16px -240px}
.authenticate{background-position:-48px -224px} .authenticate32{background-position:-32px 0px}
.bookmark32{background-position:-64px 0px}
.category{background-position:-80px -224px} .category32{background-position:-96px 0px} .categoryEdit{background-position:-64px -224px} .categoryRemove{background-position:-48px -240px} .categoryAdd{background-position:-32px -240px}
.chartArea32{background-position:-128px 0px}
.chartPie32{background-position:-160px 0px}
.chartBar32{background-position:-192px 0px} .chartBarAdd{background-position:-64px -240px} .chartBarRemove{background-position:-80px -240px}
.colourPalette32{background-position:-224px 0px} .colourPaletteShare{background-position:-112px -224px}
.continue{background-position:-96px -240px} .continue32{background-position:-256px 0px}
.controlPanel32{background-position:-288px 0px}
.documentBlank{background-position:-128px -240px} .documentBlank32{background-position:-320px 0px} .documentBlankAdd{background-position:-112px -240px} .documentBlankRemove{background-position:-128px -224px} .documentBlankEdit{background-position:-144px -224px}
.documentForm32{background-position:-352px 0px}
.download{background-position:-144px -240px} .download32{background-position:-384px 0px}
.upload{background-position:-160px -224px} .upload32{background-position:0px -32px}
.entry32{background-position:-32px -32px}
.export{background-position:-160px -240px} .export32{background-position:-64px -32px}
.fileClosed{background-position:-208px -224px} .fileOpen{background-position:-192px -224px} .fileClosed32{background-position:-96px -32px} .fileOpen32{background-position:-128px -32px} .fileClosedAdd{background-position:-192px -240px} .fileClosedRemove{background-position:-208px -240px} 
.filter{background-position:-224px -240px} .filter32{background-position:-160px -32px} .filterAdd{background-position:-224px -224px} .filterRemove{background-position:-240px -224px} .filterEdit{background-position:-240px -240px}
.flagWhite{background-position:-256px -224px} .flagYellow{background-position:-272px -224px} .flagGreen{background-position:-272px -240px} .flagRed{background-position:-256px -240px} .flagWhite32{background-position:-192px -32px} .flagYellow32{background-position:-224px -32px} .flagGreen32{background-position:-288px -32px} .flagRed32{background-position:-256px -32px}
.tools{background-position:-128px -272px} .tools32{background-position:-320px -32px}
.list{background-position:-304px -240px} .list32{background-position:-352px -32px} .listAdd{background-position:-288px -224px} .listRemove{background-position:-304px -224px} .listEdit{background-position:-288px -240px}
.map{background-position:-336px -240px} .map32{background-position:-384px -32px} .mapAdd{background-position:-320px -224px} .mapRemove{background-position:-320px -240px} .mapEdit{background-position:-336px -224px}
.moderate{background-position:-352px -224px} .moderate32{background-position:0px -64px}
.module{background-position:-368px -224px} .module32{background-position:-32px -64px} .moduleAdd{background-position:-368px -224px} .moduleRemove{background-position:-368px -240px} .moduleEdit{background-position:-352px -240px}
.news{background-position:0px -256px} .news32{background-position:-64px -64px} .newsAdd{background-position:-400px -224px} .newsRemove{background-position:-400px -240px} .newsEdit{background-position:-384px -240px}
.password{background-position:-16px -256px} .password32{background-position:-96px -64px}
.publish{background-position:-32px -256px} .publish32{background-position:-128px -64px}
.readMore{background-position:-48px -256px} .readMore32{background-position:-160px -64px}
.relationshipData{background-position:-80px -256px} .relationshipData32{background-position:-192px -64px} .relationshipDataAdd{background-position:-32px -272px} .relationshipDataRemove{background-position:-64px -256px} .relationshipDataEdit{background-position:-48px -272px}
.relationshipPeople{background-position:-64px -272px} .relationshipPeople32{background-position:-224px -64px}
.security32{background-position:-256px -64px} 
.signIn{background-position:-80px -272px}  .signIn32{background-position:-288px -64px}
.signOut{background-position:-96px -256px} .signOut32{background-position:-320px -64px}
.statistics{background-position:-144px -256px} .statistics32{background-position:-352px -64px}
.support{background-position:-128px -256px} .support32{background-position:-384px -64px}
.adDollars{background-position:0px -224px}
.collapse{background-position:-96px -224px}
.expand{background-position:-176px -224px}
.fax{background-position:-176px -240px}
.spam{background-position:-112px -256px}
.mobilePhone{background-position:-160px -256px}
.office{background-position:-176px -256px}
.phone{background-position:0px -272px}
.phoneOffice{background-position:-16px -272px}
.sortDown{background-position:-96px -272px}
.sortUp{background-position:-112px -272px}
.viewList{background-position:-144px -272px}
.create{background-position:-160px -272px}

.mc{background:url("../images/iconos/misc.png") no-repeat scroll}
.ar{background-position:-32px -176px} .ar32{background-position:0px 0px}
.es{background-position:-48px -176px} .es32{background-position:-32px 0px}
.us{background-position:-64px -160px} .us32{background-position:-64px 0px}
.purchase32{background-position:-96px 0px} 
.rateThumbsDown{background-position:-96px -160px} .rateThumbsDown32{background-position:-128px 0px}
.rateThumbsUp{background-position:-112px -160px} .rateThumbsUp32{background-position:-160px 0px}
.announcement32{background-position:-192px 0px}
.blog{background-position:-80px -160px} .blog32{background-position:-224px 0px}
.inbox32{background-position:-256px 0px}
.calculator{background-position:-96px -176px} .calculator32{background-position:-288px 0px}
.favourite32{background-position:-320px 0px}
.tag{background-position:-128px -160px} .tag32{background-position:-352px 0px}
.webBrowser{background-position:-32px -160px} .webBrowser32{background-position:-384px 0px} .webBrowser32Add{background-position:-32px -32px} .webBrowser32Remove{background-position:-96px -32px} .webBrowser32Edit{background-position:-64px -32px}
.alert{background-position:-16px -160px} .alert32{background-position:0px -32px}
.preview{background-position:-64px -176px} .preview32{background-position:-128px -32px}
.searchDocument{background-position:-112px -176px} .searchDocument32{background-position:-160px -32px}
.linkBreak{background-position:-48px -160px}
.hierarchy{background-position:-80px -176px}
.bank{background-position:-128px -176px} .bank32{background-position:-192px -32px}
.star1{background-position:0px -160px} 
.star2{width:32px !important; background-position:0px -176px} 
.star3{width:48px !important; background-position:0px -192px} 
.star4{width:64px !important; background-position:0px -208px}
.star5{width:80px !important; background-position:0px -224px}



/****************************************************************************************/
/*** JQUERY UI (PORQUE SE RESPETAN LAS CLASES DEL FRAMEWORK, ACA SOLO ASPECTO VISUAL) ***/
/****************************************************************************************/

/*** RESETS ***/
/* no hace falta important porque esta hoja se llama a continuacion de la de jquery */
/* mis visuals*/
.ui-corner-tl, .ui-corner-tr, .ui-corner-bl, .ui-corner-br, .ui-corner-top, .ui-corner-bottom, .ui-corner-right, .ui-corner-left, .ui-corner-all {-moz-border-radius:0px; -webkit-border-radius:0px; border-radius:0px;}

/* component containers */
.ui-widget, .ui-widget .ui-widget, .ui-widget-content, .ui-widget-header, .ui-helper-reset
{ margin:0; padding:0; border:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; background:none;}

/*** ACA REESCRIBO ALGUNAS REGLAS DE LAS CLASES BASE, LO HAGO ACA ASI CUANDO SALEN ACTUALIZACIONES NO HAY LIO ***/
/* dialog */
.ui-dialog-content{background-color:#FFF !important; padding:5px !important;}
.ui-dialog-content, .ui-dialog{min-height:0px; overflow:visible !important}
.ui-dialog-buttonpane{padding:0px; margin:0px; background-color:#DDD; border-top:1px solid #BBB}
.ui-dialog{padding:0px !important; -moz-box-shadow:0 0 5px #000; box-shadow:0 0 30px #333; -webkit-box-shadow:0 0 5px #000}
.ui-dialog-titlebar{padding:8px; font-size:1.7em; background:#CCC url("../images/fondos/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x; color: #222; border-top:1px solid #FFF; border-bottom:1px solid #999}
.ui-dialog-titlebar-close{padding:1px !important;}
.ui-dialog-title{margin:0px; text-shadow:#666 1px 1px 1px}
/* tabs */
.ui-tabs{padding:0px; position:relative; overflow:hidden;}
.ui-tabs .ui-tabs-nav{margin:0; padding:0}
.ui-tabs .ui-tabs-panel{display:block; padding:10px; border-top:0px}
/* autocomplete */
.ui-autocomplete{max-height:100px; max-width:300px; overflow-x:hidden; overflow-y:auto; padding-right:20px; background:#FFF; border: 1px solid #CCC}
.ui-autocomplete a{color:#333; text-decoration:none}
.ui-autocomplete .ui-state-hover{background-color:#EEEFFF}

/*** ICONS (AGREGAR A MEDIDA QUE SE VAYA NECESITANDO PORQUE EN REALIDAD YA TENEMOS LOS NUESTROS Q SON MEJORES)***/
/* states and images */
.ui-icon{width:16px; height:16px; background-image: url("../images/iconos/ui-icons_222222_256x240.png")}
.ui-widget-content .ui-icon {background-image: url("../images/iconos/ui-icons_222222_256x240.png")}
.ui-widget-header .ui-icon {background-image: url("../images/iconos/ui-icons_222222_256x240.png")}
.ui-state-default .ui-icon { background-image: url("../images/iconos/ui-icons_888888_256x240.png")}

/* positioning */
.ui-icon-closethick{background-position:-96px -128px}

/*** OVERLAYS ***/
.ui-widget-overlay{background:#000 url("../images/fondos/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x; opacity: .3;filter:Alpha(Opacity=30)}
.ui-widget-shadow{margin:-8px 0 0 -8px; padding:8px; background:#aaaaaa url("images/fondos/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x; opacity:.3;filter:Alpha(Opacity=30); -moz-border-radius:8px; -webkit-border-radius:8px; border-radius: 8px}