<!DOCTYPE html>

<html>
<head>

    <base href="http://urbis.dyndns-server.com/tesis/" />
    <title>Titulo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

    <link rel="stylesheet" href="gui/css/jquery-ui.css" />
    <link rel="stylesheet" href="gui/css/vistas.css" type="text/css" media="screen, projection" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="utilidades/jquery/ui/jquery.bgiframe-2.1.2.js"></script>
    <script src="utilidades/jquery/ui/jquery-ui-1.8.11.custom.js"></script>
    <script src="utilidades/jquery/maxlength/maxlength.js"></script>
    <script src="utilidades/jquery/form/jquery.form.js"></script>
    <script src="utilidades/jquery/validate/jquery.validate.min.js"></script>
    <script src="utilidades/jquery/menu/superfish.js"></script>
    <script src="gui/js/vistas.js"></script>

    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="gui/css/vistas-ie.css" media="screen, projection" />
    <![endif]-->
    <!--[if lte IE 7]>
    <script type="text/javascript" src="gui/js/vistas-ie67.js"></script>
    <![endif]-->
    <!--[if lte IE 6]>
    <script type="text/javascript" src="utilidades/js-scripts/iepngfix/iepngfix_tilebg.js"></script>
    <![endif]-->

</head>

<body id="frameComunidad01">

    <div id="topHeader" class="topHeader01">
        <div id="topHeaderMenuLeft">
            <ul class="m_horiz menu01 menuList iveal">
                <li><a href="#"><span class="i mi publish"></span> Opcion</a></li>
                <li><a href="#"><span class="i mi publish"></span> Opcion2</a></li>
                <li><a href="#"><span class="i mi publish"></span> Opcion3</a></li>
                <li>
                    <a><span class="i mi publish"></span> Desplegable</a>
                    <ul>
                        <li><a href="#">SubOpcion</a></li>
                        <li><a href="#">SubOpcion2</a></li>
                        <li><a href="#">SubOpcion3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="topHeaderMenuRight">
            <ul class="m_horiz menu01 menuList iveal">
                <li><a href="#"><span class="i mi publish"></span> Opcion1</a></li>
                <li><a href="#"><span class="i mi publish"></span> Opcion2</a></li>
            </ul>
        </div>
    </div>

    <div id="centerHeader" class="centerHeader01 grupo">
        <div id="logo">
            <a href="index.html"><img src="gui/images/banners-logos/fasta.png" alt=""/></a>
            <div id="logoTxt">
                <div id="logoDesc">Sequitur</div>
                <div id="moduloDesc">Comunidad</div>
            </div>
        </div>
        <div id="centerHeaderCont">
            <div id="centerHeaderContRight" class="di_in">
                <ul class="m_horiz">
                    <li>
                        <a class="button" href="#">
                            <span class="i mi signIn"></span>
                            <span class="buttonText">Accion 1</span>
                        </a>
                    </li>
                    <li>
                        <a class="button" href="#">
                            <span class="i mi signIn"></span>
                            <span class="buttonText">Accion 2</span>
                        </a>
                    </li>
                </ul>
            </div>
            <form class="di_in iveal" style="" id="formHeader" name="formheader" action="" method="post">
                <div id='ajax_loading' class="ajax_wait30 di_no"></div>
                <span class="i bs search"></span>
                <input class="defVal miwi2" type="text" name="buscar" id="buscarFormHeader" value="Ing. palabras claves o parte del texto..." title="Ing. palabras claves o parte del texto..." />
                <label for="comentarioPublicar" class="button buttonConfirm buttonLarge iveal">
                    <button id="comentarioPublicar" type="submit" name="publicar">Buscar Publicaciones</button>
                </label>
            </form>
        </div>
    </div>

    <div id="page" class="page01">

        <div id="pageRight" class="pageRightExpanded">
            <div id="pageMenuTopRight">
                <h1>Titulo Seccion</h1>
            </div>
            <div id="pageRightCont" class="grupo">
                <div id="pageRightInnerCont">

                </div>
                <div id="pageRightInnerMainCont">

                </div>
            </div>
        </div>

    </div>

</body>
</html>
