<!DOCTYPE html>

<html>
    
<head>{headContent}</head>

<body id="frameComunidad01">

    <div id="topHeader" class="topHeader01">
        {msgTop}
        <div id="topHeaderMenuLeft">
            {topHeaderMenuLeft}
        </div>
        <div id="topHeaderMenuRight">
            {topHeaderMenuRight}
        </div>
    </div>

    <div id="centerHeader" class="centerHeader01 grupo">
        <div id="logo">
            <a href="{hrefLogoHeader}"><img src="{sourceLogoHeader}" alt=""/></a>
            <div id="logoTxt">
                <div id="logoDesc">{logoDesc}</div>
                <div id="moduloDesc">{moduloDesc}</div>
            </div>
        </div>
        <div id="centerHeaderCont">
            <div id="centerHeaderContRight" class="di_in">
                {centerHeaderContRight}
            </div>
            {centerHeaderCont}
        </div>
    </div>

    <div id="page" class="page01">

        <div id="pageRight" class="pageRightExpanded">
            <div id="pageMenuTopRight">
                <h1>{tituloSeccion}</h1>
            </div>
            <div id="pageRightCont" class="grupo">
                <div id="pageRightInnerCont">
                    {pageRightInnerCont}
                </div>
                <div id="pageRightInnerMainCont">
                    {pageRightInnerMainCont}
                </div>
            </div>
        </div>

    </div>

</body>
</html>