<!DOCTYPE html>

<html>

<head>{headContent}</head>

<body id='frameBlog01' class="body01">
    {msgTop}
    <div id='wrapper' class="ba bora4 bosh2">

        <div id="header" class="header01 mabo2 grupo">
            <img id="logo" src="{sourceLogoHeader}" alt="logo" height="{heightLogoHeader}" width="{widthLogoHeader}" />
            <div id="titulo">{tituloHeader}</div>
        </div>

        <div class='columnas2A baco1 bora grupo'>
            <div class='col1'>
                {columnaIzquierdaContent}
            </div>
            <div class='col2'>
                {columnaDerechaContent}
            </div>
        </div>

        <div id="footer" class="baco2 footer01">
            {footerContent}
        </div>

    </div>
</body>
</html>