<!-- este div es una prueba despues hay que cargar el frame del dialog con la clase template -->
<div style="padding:10px; background-color:#FFF;">

    <div style="width:250px; padding:10px; background-color:#EEEFFF; border:1px solid #AAA; overflow:auto">
      
        <div class="fwrap">
            <div class="inner_fwrap">
                <input type="text" id="buscarPublicacion" class="inputTextLihe defVal" value="Buscar Publicacion" title="Buscar Publicacion" />
                <span class="i bs search"></span>
            </div>
        </div>
        <div class="fwrap">
            <div class="inner_fwrap">
                <input type="text" id="cualquierIcono" class="inputTextLihe defVal" value="Cualquier icono =)" title="Cualquier icono =)" />
                <span class="i bs mail"></span>
            </div>
        </div>

        <label class="fte2 txt_imp2" for="sinIcono">Sin icono pero con etiquetita vieja</label>
        <div class="fwrap">
            <div class="inner_fwrap">
                <input type="text" id="sinIcono" class="inputTextLihe defVal" value="Sin icono con etiqueta" title="Sin icono con etiqueta" />
            </div>
        </div>

        <div class="fwrap">
            <div class="inner_fwrap">
                <select class="inputSelectLihe">
                    <option>Recientes primero</option>
                    <option>Antig&uuml;os primero</option>
                    <option>Preferidos por la gente</option>
                </select>
            </div>
        </div>

        <div class="fwrap">
            <div class="inner_fwrap">
                <textarea rows="0" cols="0" id="adasaje" class="textAreaLihe textareaAutoGrow defVal maxlength" title="Textarea lineheight (como me costo)">Textarea lineheight (como me costo)</textarea>
            </div>
        </div>
        <div class="fl_ri">
            <a class="button" href="#"><span class="buttonText">Accion</span></a>
        </div>
    </div>

    <br><br>

    <div id="paginacion" class="teal_ce mabo2">
        <a class="button" rel="nofollow" href="#"><span class="buttonText">1</span></a>
        <a class="button" rel="nofollow" href="#"><span class="buttonText texto_importante">2</span></a>
        <a class="button" rel="nofollow" href="#"><span class="buttonText">3</span></a>
        <a class="button" rel="nofollow" href="#"><span class="buttonText">4</span></a>
    </div>

    <br><br>

    <label for="acceder11" class="button buttonConfirm mari3">
        <button id="acceder11" type="submit" name="acceder">
            Confirm small
        </button>
    </label>

    <label for="acceder22" class="button buttonLarge mari3">
        <button id="acceder22" type="submit" name="acceder">
            Normal large
        </button>
    </label>

    <label for="acceder33" class="button buttonXLarge buttonSpecial">
        <button id="acceder33" name="acceder33">Special xlarge</button>
    </label>

</div>