<table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:98%">
    <tbody>
        <tr>
            <td style="font-size:12px; font-family:arial">
                <table cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:620px">
                    <tbody>
                        <tr>
                            <td style="font-size:16px;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;background:#3b5998;color:#ffffff;font-weight:bold;vertical-align:baseline;letter-spacing:-0.03em;text-align:left;padding:5px 20px">
                                <a target="_blank" href="http://{hrefSitio}" style="text-decoration:none">
                                    <span style="background:#3b5998;color:#ffffff;font-weight:bold;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;vertical-align:middle;font-size:16px;letter-spacing:-0.03em;text-align:left;vertical-align:baseline">{sNombreSitio}</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table border="0" width="620px" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:620px">
                    <tbody>
                        <tr>
                            <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:0px;background-color:#f2f2f2;border-left:none;border-right:none;border-top:none;border-bottom:none">
                                <table width="620px" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                    <tbody>
                                        <tr>
                                            <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:0px;width:620px">
                                                <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:20px;background-color:#fff;border-left:none;border-right:none;border-top:none;border-bottom:none">
                                                                <table cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding-bottom:5px">
                                                                                <span style="color:#111111;font-size:14px;font-weight:bold">{sTituloMensaje}</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding-top:5px;padding-bottom:5px">
                                                                                <span style="color:#333333">{sMensaje}</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding-top:5px">
                                                                                <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%"><tbody>
                                                                                        <tr>
                                                                                            <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:10px 0px;background-color:#fff;border-left:none;border-right:none;border-top:1px solid #ccc;border-bottom:none">
                                                                                                <table cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td style="font-size:12px;padding:3px 10px 3px 0px">
                                                                                                                <table cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td valign="top">
                                                                                                                                {sAdjuntoMensaje}
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:0px;width:620px">
                                                <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:7px 20px;background-color:#f2f2f2;border-left:none;border-right:none;border-top:1px solid #ccc;border-bottom:1px solid #ccc">
                                                                <table cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding-left:0px">
                                                                                <table cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="border-width:1px;border-style:solid;border-color:#29447e #29447e #1a356e;background-color:#5b74a8">
                                                                                                <table cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:2px 6px 4px;border-top:1px solid #8a9cc2">
                                                                                                                <a target="_blank" style="color:#3b5998;text-decoration:none" href="http://www.facebook.com/n/?index.php&amp;mid=6b770d1G5b638960G0G2b&amp;bcode=HvPD3be8_1.1347253155.AaRleL5t5L2Hln_s&amp;n_m=evangelinamonello%40hotmail.com&amp;lloc=cta">
                                                                                                                    <span style="font-weight:bold;white-space:nowrap;color:#fff;font-size:13px">Ver notificaciones</span>
                                                                                                                </a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                            <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:0px 5px"></td>
                                                                            <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:7px 0px 6px">
                                                                                <table cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="border-width:1px;border-style:solid;border-color:#999 #999 #888;background-color:#eee">
                                                                                                <table cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:2px 6px 4px;border-top:1px solid #fff">
                                                                                                                <a target="_blank" style="color:#3b5998;text-decoration:none" href="http://www.facebook.com/n/?home.php&amp;mid=6b770d1G5b638960G0G2b&amp;bcode=HvPD3be8_1.1347253155.AaRleL5t5L2Hln_s&amp;n_m=evangelinamonello%40hotmail.com&amp;lloc=2nd_cta">
                                                                                                                    <span style="font-weight:bold;white-space:nowrap;color:#333;font-size:13px">Ir a Facebook</span>
                                                                                                                </a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:620px">
                    <tbody>
                        <tr>
                            <td style="border-right:none;color:#999999;font-size:11px;border-bottom:none;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;border:none;border-top:none;padding:30px 20px;border-left:none">
                                Este mensaje se envió a <a target="_blank" style="color:#3b5998;text-decoration:none" href="mailto:evangelinamonello@hotmail.com">evangelinamonello@hotmail.com</a>. Si no quieres seguir recibiendo estos mensajes de Facebook, por favor haz clic en <a target="_blank" style="color:#3b5998;text-decoration:none" href="http://www.facebook.com/o.php?k=AS0ETVj6_uw7Vk1R&amp;u=1533249888&amp;mid=6b770d1G5b638960G0G2b">cancelar la suscripción</a>.<br>
                                Facebook, Inc. Attention: Department 415 P.O Box 10005 Palo Alto CA 94303
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span style="width:620px"><img style="border:0;width:1px;min-height:1px" src="http://www.facebook.com/email_open_log_pic.php?mid=6b770d1G5b638960G0G2b"></span>
            </td>
        </tr>
    </tbody>
</table>