<!DOCTYPE html>

<html>

<head>{headContent}</head>

<body id="frameIndex01" class="body01">

    <div id="header" class="header01">
        {msgTop}
        <div id="headerCont">
            <div id="logo">
                <div id="logo-name"><a href="{hrefLogoHeader}"><img src="{sourceLogoHeader}" alt=""/></a></div>
            </div>
            <div id="navigation">
                <div id="menu" class="menu03">
                    {menuHeader}
                </div>
            </div>
        </div>
    </div>

    <div id="subHeader" class="subHeader01">
        <div id="subHeaderCont">
            <div id="titulo">{tituloHeader}</div>
            <div id="slogan">
                <h1>{subtituloHeader}</h1>
            </div>
        </div>
    </div>

    <div id="topPage" class="topPage01">
        <div id="topPageCont">
            {topPageContent}
        </div>
    </div>

    <div id="centerPage" class="centerPage01">
        <div id="centerPageCont">
            {centerPageContent}
        </div>
    </div>

    <div id="footer" class="footer01">
        <div id="footerCont">
            {footerContent}
        </div>
    </div>

    <div id="footerSub" class="footerSub01">
        <div id="footerSubCont">
            <div id="menu" class="m_horiz">
                {footerSubContent}
            </div>
            <div id="copyright">
                {footerSubCopyright}
            </div>
        </div>
    </div>

</body>
</html>