<table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:98%">
    <tbody>
        <tr>
            <td style="font-size:12px; font-family:arial">
                <table cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:620px">
                    <tbody>
                        <tr>
                            <td style="font-size:16px;font-family:arial;background:#3b5998;color:#ffffff;font-weight:bold;vertical-align:baseline;letter-spacing:-0.03em;text-align:left;padding:5px 20px">
                                <a target="_blank" href="{hrefSitio}" style="text-decoration:none">
                                    <span style="background:#93B5F9;color:#ffffff;font-weight:bold;font-family:arial;vertical-align:middle;font-size:16px;letter-spacing:-0.03em;text-align:left;vertical-align:baseline">{sNombreSitio}</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table border="0" width="620px" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:620px">
                    <tbody>
                        <tr>
                            <td style="font-size:11px;font-family:arial;padding:0px;background-color:#f2f2f2;border-left:none;border-right:none;border-top:none;border-bottom:none">
                                <table width="620px" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                    <tbody>
                                        {sMainContent}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:620px">
                    <tbody>
                        <tr>
                            <td style="border-right:none;color:#999999;font-size:11px;border-bottom:none;font-family:arial;border:none;border-top:none;padding:30px 20px;border-left:none">
                                Este mensaje se envi&oacute; a <a target="_blank" style="color:#3b5998;text-decoration:none" href="mailto:{sEmailDestino}">{sEmailDestino}</a>.
                                Si no quieres seguir recibiendo estos mensajes de {sNombreSitio}, por favor haz clic en <a target="_blank" style="color:#3b5998;text-decoration:none" href="{hrefCancelarSuscripcion}">cancelar la suscripci&oacute;n</a>.<br>
                                Contacto: <a target="_blank" style="color:#3b5998;text-decoration:none" href="mailto:{sEmailContacto}">{sEmailContacto}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>                
            </td>
        </tr>
    </tbody>
</table>