<!DOCTYPE html>

<html>

<head>
<base href="{pathUrlBase}" />
<title>{sTituloVista}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<link href="gui/css/jquery-ui.css" rel="stylesheet">
<link href="gui/css/vistas.css" rel="stylesheet" type="text/css" media="screen, projection" />
<link href="gui/css/skin1.css" rel="stylesheet" type="text/css" media="screen, projection" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="utilidades/jquery/ui/jquery.bgiframe-2.1.2.js"></script>
<script src="utilidades/jquery/ui/jquery-ui-1.8.11.custom.js"></script>
<script src="utilidades/jquery/maxlength/maxlength.js"></script>
<script src="utilidades/jquery/form/jquery.form.js"></script>
<script src="utilidades/jquery/validate/jquery.validate.min.js"></script>
<script src="gui/js/vistas.js"></script>

<!--[if lte IE 8]> 
<link rel="stylesheet" type="text/css" href="gui/vistas-ie.css" media="screen, projection" />
<![endif]-->
<!--[if lte IE 7]> 
<script type="text/javascript" src="gui/vistas-ie67.js"></script>
<![endif]-->

</head>

<body id="frameIndex01" class="body01">

    <div id="header" class="header01">
        {msgTop}
        <div id="headerCont">
            <div id="logo">
                <div id="logo-name"><a href="{hrefLogoHeader}"><img src="{sourceLogoHeader}" alt=""/></a></div>
            </div>
            <div id="navigation">
                <div id="menu" class="menu03">
                    {menuHeader}
                </div>
            </div>
        </div>
    </div>

    <div id="subHeader" class="subHeader01">
        <div id="subHeaderCont">
            <div id="titulo">{tituloHeader}</div>
            <div id="slogan">
                <h1>{subtituloHeader}</h1>
            </div>
        </div>
    </div>

    <div id="topPage" class="topPage01">
        <div id="topPageCont">
            {topPageContent}
        </div>
    </div>

    <div id="centerPage" class="centerPage01">
        <div id="centerPageCont">
            {centerPageContent}
        </div>
    </div>

    <div id="footer" class="footer01">
        <div id="footerCont">
            {footerContent}
        </div>
    </div>

    <div id="footerSub" class="footerSub01">
        <div id="footerSubCont">
            <div id="menu" class="m_horiz">
                {footerSubContent}
            </div>
            <div id="copyright">
                {footerSubCopyright}
            </div>
        </div>
    </div>

</body>
</html>