#registracion{ width: 500px; padding: 0 80px;}
#registracion label{ float: left;} 
#reg_sex, #reg_tipoDni, #registracion input {
	font-size: 16px;
    padding: 6px;
    width: 250px;
    margin: 1px 0;
}
#registracion label{
  	font-size: 13px;
    padding-right: 3px;
    width: 190px;
}
#registracion_msg_error,#registracion_msg{display:none;}
.registracion_titulo{padding: 0px 40px 20px 80px;font-size: 16px; font-weight: bolder;}
.reg_error{border:1px solid red;background-color: #FFC5C9} 
#loading {
    background-color: #CCCCCC;
    height: 385px;
    margin-left: 40px;
    opacity: 0.6;
    position: absolute;
    width: 500px;
    z-index: 20;
    display: none;
	/*IE*/
	filter: alpha(opacity=50);
	
}
#loading img{
	margin-left: 215px;
    margin-top: 125px;
    }
