<!DOCTYPE html>

<html>
<head>

    <base href="http://urbis.dyndns-server.com/tesis/" />
    <title>Titulo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

    <link rel="stylesheet" href="gui/css/jquery-ui.css" />
    <link rel="stylesheet" href="gui/css/vistas.css" type="text/css" media="screen, projection" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="utilidades/jquery/ui/jquery.bgiframe-2.1.2.js"></script>
    <script src="utilidades/jquery/ui/jquery-ui-1.8.11.custom.js"></script>
    <script src="utilidades/jquery/maxlength/maxlength.js"></script>
    <script src="utilidades/jquery/form/jquery.form.js"></script>
    <script src="utilidades/jquery/validate/jquery.validate.min.js"></script>
    <script src="utilidades/jquery/menu/superfish.js"></script>
    <script src="gui/js/vistas.js"></script>

    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="gui/css/vistas-ie.css" media="screen, projection" />
    <![endif]-->
    <!--[if lte IE 7]>
    <script type="text/javascript" src="gui/js/vistas-ie67.js"></script>
    <![endif]-->
    <!--[if lte IE 6]>
    <script type="text/javascript" src="utilidades/js-scripts/iepngfix/iepngfix_tilebg.js"></script>
    <![endif]-->

</head>

<body id="frameComunidad01">

    <div id="topHeader" class="topHeader01">
        <div id="topHeaderMenuLeft">
            <ul class="m_horiz menu01 menuList iveal">
                <li><a href="#"><span class="i mi publish"></span> Opcion</a></li>
                <li><a href="#"><span class="i mi publish"></span> Opcion2</a></li>
                <li><a href="#"><span class="i mi publish"></span> Opcion3</a></li>
                <li>
                    <a><span class="i mi publish"></span> Desplegable</a>
                    <ul>
                        <li><a href="#">SubOpcion</a></li>
                        <li><a href="#">SubOpcion2</a></li>
                        <li><a href="#">SubOpcion3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="topHeaderMenuRight">
            <ul class="m_horiz menu01 menuList iveal">
                <li><a href="#"><span class="i mi publish"></span> Opcion1</a></li>
                <li><a href="#"><span class="i mi publish"></span> Opcion2</a></li>
            </ul>
        </div>
    </div>

    <div id="centerHeader" class="centerHeader01 grupo">
        <div id="logo">
            <a href="index.html"><img src="gui/images/banners-logos/fasta.png" alt=""/></a>
            <div id="logoTxt">
                <div id="logoDesc">Sequitur</div>
                <div id="moduloDesc">Comunidad</div>
            </div>
        </div>
        <div id="centerHeaderCont">
            <div id="centerHeaderContRight" class="di_in">
                <ul class="m_horiz">
                    <li>
                        <a class="button" href="#">
                            <span class="i mi signIn"></span>
                            <span class="buttonText">Accion 1</span>
                        </a>
                    </li>
                    <li>
                        <a class="button" href="#">
                            <span class="i mi signIn"></span>
                            <span class="buttonText">Accion 2</span>
                        </a>
                    </li>
                </ul>
            </div>
            <form class="di_in iveal" style="" id="formHeader" name="formheader" action="" method="post">
                <div id='ajax_loading' class="ajax_wait30 di_no"></div>
                <span class="i bs search"></span>
                <input class="defVal miwi2" type="text" name="buscar" id="buscarFormHeader" value="Ing. palabras claves o parte del texto..." title="Ing. palabras claves o parte del texto..." />
                <label for="comentarioPublicar" class="button buttonConfirm buttonLarge iveal">
                    <button id="comentarioPublicar" type="submit" name="publicar">Buscar Publicaciones</button>
                </label>
            </form>
        </div>
    </div>

    <div id="page" class="page01">

        <div id="pageLeft">
            <div id="pageMenuTopLeft" class="grupo">
                <ul class="m_horiz">
                    <li>
                        <a class="button" href="#">
                            <span class="i mi signIn"></span>
                            <span class="buttonText">Accion 1</span>
                        </a>
                    </li>
                    <li>
                        <a class="button" href="#">
                            <span class="i mi signIn"></span>
                            <span class="buttonText">Accion 2</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="pageLeftCont">
                adsadasd<br>
                asldkjaskdla<br>
                aslkdasjk<br>
                adsadasd<br>
                asldkjaskdla<br>
                aslkdasjk<br>
            </div>
        </div>

        <div id="pageRight">
            <div id="pageMenuTopRight">
                <span id="togleInnerCont" class="i mi collapse ihover"></span>
                <div class="miwi2 fl_le mari">
                    <div class="fwrap mabo0">
                        <div class="inner_fwrap">
                            <input type="text" id="buscarPublicacion" class="inputTextLihe defVal" value="Buscar Publicacion" title="Buscar Publicacion" />
                            <span class="i bs search"></span>
                        </div>
                    </div>
                </div>
                <div class="fl_le">
                    <a class="button fl_le" href="#">
                        <span class="buttonText">Buscar</span>
                    </a>
                </div>

                <ul class="male3 fl_le m_horiz menu01">
                    <li>
                        <a href="#">Opcion 1</a>
                    </li>
                    <li>
                        <a href="#">Opcion 2</a>
                    </li>
                </ul>
            </div>
            <div id="pageRightCont" class="grupo">
                <div id="pageRightInnerCont">
                    adsadasd<br>
                    asldkjaskdla<br>
                    aslkdasjk<br>
                    adsadasd<br>
                    asldkjaskdla<br>
                    aslkdasjk<br>
                    adsadasd<br>
                    asldkjaskdla<br>
                    aslkdasjk<br>
                </div>
                <div id="pageRightContMenuTop" class="grupo">
                    <ul class="m_horiz menu02">
                        <li>
                            <a href="#">Opcion 1</a>
                        </li>
                        <li>
                            <a href="#">Opcion 2</a>
                        </li>
                    </ul>
                </div>
                <div id="pageRightInnerMainCont">

                    <div class="tabs01" id="tabs1">
                        <div class="tabs grupo" >
                            <center>
                                <div class="leftTabs">
                                    <ul class="toggleTabs">
                                        <li class=""><a href="#tabs-1">Nunc tincidunt</a></li>
                                        <li class=""><a href="#tabs-2">Proin dolor</a></li>
                                        <li class=""><a href="#tabs-3">Aenean lacinia</a></li>
                                    </ul>
                                </div>
                            </center>
                        </div>
                        <div class="tabContent grupo" id="tabs-1">
                            <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
                        </div>
                        <div class="tabContent grupo" id="tabs-2">
                            <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
                        </div>
                        <div class="tabContent grupo" id="tabs-3">
                            <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
                            <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $( "#tabs1" ).tabs();
        });
    </script>

</body>
</html>
