<!DOCTYPE html>

<html>
<head>

    <base href="http://localhost/tesis/" />
    <title>Titulo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

    <link rel="stylesheet" href="gui/css/jquery-ui.css" />
    <link rel="stylesheet" href="gui/css/vistas.css" type="text/css" media="screen, projection" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="utilidades/jquery/ui/jquery.bgiframe-2.1.2.js"></script>
    <script src="utilidades/jquery/ui/jquery-ui-1.8.11.custom.js"></script>
    <script src="utilidades/jquery/maxlength/maxlength.js"></script>
    <script src="utilidades/jquery/form/jquery.form.js"></script>
    <script src="utilidades/jquery/validate/jquery.validate.min.js"></script>
    <script src="utilidades/jquery/menu/superfish.js"></script>
    <script src="gui/js/vistas.js"></script>

</head>
<body id="frameIndex01">

<!-- HEADER START -->
<div id="header">
    <div id="headerCont">
        <div id="logo">
            <div id="logo-name"><a href="index.html"><img src="gui/images/banners-logos/fasta.png" alt=""/></a></div>
        </div>
        <div id="navigation">
            <div id="menu" class="menu03">
                <ul class="menuList">
                    <li>
                        <a href="#">Acerca del proyecto</a>
                        <ul>
                            <li>
                                <a href="18-blog-full-image-single.html">Blog Single Page</a>
                            </li>
                            <li>
                                <a href="19-full-width-blog.html">Blog Full Width Page</a>
                            </li>
                            <li><a href="23-full-width-page_typography.html">Typography</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Comunidad Abierta</a>
                        <ul>
                            <li>
                                <a href="18-blog-full-image-single.html">Blog Single Page</a>
                            </li>
                            <li>
                                <a href="19-full-width-blog.html">Blog Full Width Page</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="24-contact-page.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- HEADER END -->

<!-- FEATURE START -->
<div id="subHeader" class="subHeader01">
    <div id="subHeaderCont">
        <div id="titulo">Sequitur</div>
        <div id="slogan">
            <h1>Sistema de gestión del proceso de aprendizaje en personas discapacitadas</h1>
        </div>
    </div>
</div>
<!-- FEATURE END -->

<!-- TOP START -->
<div id="Page" class="Page01 grupo">
    <div id="PageCont">
        <div class="columnas2 grupo">

            <div class="col1">
                <p>
                    asld jasldkj asld jasdlkja sdlaj sldkja sdlkja sdlaj sdlajs dlkasdj lasdj a lasdj
                    asld jasldkj asld jasdlkja sdlaj sldkja sdlkja sdlaj sdlajs dlkasdj lasdj a lasdj<br>
                    asld dlkja sdlaj sdlajs dlkasdj lasdj a lasdj<br>
                </p>
                <p>
                    asld jasldkj asld jasdlkja sdlaj sldkja sdlkja sdlaj sdlajs dlkasdj lasdj a lasdj
                    asld jasldkj asld jasdlkja sdlaj sldkja sdlkja sdlaj sdlajs dlkasdj lasdj a lasdj<br>
                    asld dlkja sdlaj sdlajs dlkasdj lasdj a lasdj<br>
                </p>
                <p>
                    asld jasldkj asld jasdlkja sdlaj sldkja sdlkja sdlaj sdlajs dlkasdj lasdj a lasdj
                    asld jasldkj asld jasdlkja sdlaj sldkja sdlkja sdlaj sdlajs dlkasdj lasdj a lasdj<br>
                    asld dlkja sdlaj sdlajs dlkasdj lasdj a lasdj<br>
                </p>
                <p>
                    asld jasldkj asld jasdlkja sdlaj sldkja sdlkja sdlaj sdlajs dlkasdj lasdj a lasdj
                    asld jasldkj asld jasdlkja sdlaj sldkja sdlkja sdlaj sdlajs dlkasdj lasdj a lasdj<br>
                    asld dlkja sdlaj sdlajs dlkasdj lasdj a lasdj<br>
                </p>
                <p>
                    asld jasldkj asld jasdlkja sdlaj sldkja sdlkja sdlaj sdlajs dlkasdj lasdj a lasdj
                    asld jasldkj asld jasdlkja sdlaj sldkja sdlkja sdlaj sdlajs dlkasdj lasdj a lasdj<br>
                    asld dlkja sdlaj sdlajs dlkasdj lasdj a lasdj<br>
                </p>
            </div>

            <div class="col2">
                <div class="top">
                    columna 2
                </div>
                <div class="bottom"></div>
            </div>

        </div>
    </div>
</div>
<!-- TOP END -->

<!-- FOOTER START -->
<div id="footer" class="footer01">
    <div id="footerCont">
        <div class="celda4">
            <div class="baco bo pa2 bosh mihe1"></div>
        </div>
        <div class="celda4">
            <div class="baco bo pa2 bosh mihe1"></div>
        </div>
        <div class="celda4">
            <div class="bo pa2 bosh mihe1"></div>
        </div>
        <div class="celda4">
            <div class="bo pa2 bosh mihe1"></div>
        </div>
    </div>
</div>
<!-- FOOTER END -->

<div id="footerSub" class="footerSub01">
    <div id="footerSubCont">
        <div id="menu" class="m_horiz">
            <ul>
                <li><a href="#">opcion 1</a></li>
                <li><a href="#">opcion 2</a></li>
                <li><a href="#">opcion 3</a></li>
            </ul>
        </div>
        <div id="copyright">
            copyright
        </div>
    </div>
</div>

</body>
</html>
