<!DOCTYPE html>

<html>
<head>
    <base href="{pathUrlBase}"><!--[if lte IE 8]></base><![endif]-->
    <title></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-language" content="es" />
    <link href="gui/css/generar-informe.css" rel="stylesheet" type="text/css" media="screen, print" />
</head>

<body id="frameExport">
    <div id="header">
        <div class="izq">
            <span class="logo">SEQUITUR</span>
        </div>
        <div class="center">
            <span>{titulo}</span>
        </div>
        <div class="der">
            <span>{dFechaHoy}</span>
        </div>
        <div class="sub">
            <span>{subtitulo}</span>
        </div>
    </div>

    <div id="body">
        {bodyContent}
    </div>

    <div id="footer">
        {pie}
    </div>
</body>

</html>
