<!DOCTYPE html>

<html>

<head>
    <base href="{pathUrlBase}"><!--[if lte IE 8]></base><![endif]-->

    <title>{sTituloVista}</title>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-language" content="es" />
    <meta name="description" content="{sMetaDescription}" />
    <meta name="keywords" content="{sMetaKeywords}" />

    <link href="gui/css/vistas.css" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="gui/css/jquery-ui.css" rel="stylesheet">

    {cssContent}

    {jsContent}

    <script type="text/javascript"> var pathUrlBase = "{pathUrlBase}"; </script>

    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="gui/vistas-ie.css" media="screen, projection" /><![endif]-->
    <!--[if lte IE 6]><script type="text/javascript" src="utilidades/js-scripts/iepngfix/iepngfix_tilebg.js"></script><![endif]-->
</head>

<body id="frameIndex01" class="body01">
    {msgTop}

    <div id="header" class="header01">
        <div id="headerCont">
            <div id="logo">
                <div id="logo-name"><a href="http://www.ufasta.edu.ar" target="_blank"><img src="gui/images/banners-logos/fasta.png" alt=""/></a></div>
            </div>
            <div id="navigation">
                <div id="menu" class="menu03">
                    <ul class="menuList">
                        <li><a id="menuPpalInicio" href="{hrefOpcionInicio}">Inicio</a></li>
                        <li><a id="menuPpalAcceder" href="{hrefOpcionAcceder}">Acceder</a></li>
                        <li><a id="menuPpalPublicaciones" href="{hrefOpcionPublicaciones}">Publicaciones</a></li>
                        <li><a id="menuPpalInstituciones" href="{hrefOpcionInstituciones}">Instituciones</a></li>
                        <li>
                            <a id="menuPpalProyecto" href="{hrefOpcionProyecto}">Proyecto</a>
                            <ul>
                                <li><a id="menuPpalGrupoTrabajo" href="{hrefOpcionGrupoTrabajo}">Grupo de Trabajo</a></li>
                                <li><a id="menuPpalContacto" href="{hrefOpcionContacto}">Contacto</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="subHeader" class="subHeader01">
        <div id="subHeaderCont">
            <div id="titulo">SGPAPD</div>
            <div id="slogan">
                <h1>Sistema de gestión del proceso de aprendizaje en personas discapacitadas</h1>
            </div>
        </div>
    </div>

    <div id="topPage" class="topPage01">
        <div id="topPageCont">
            <h2>{sNombreSeccionTopPage}</h2>
            {topPageContent}
        </div>
    </div>

    <div id="centerPage" class="centerPage01">
        <div id="centerPageCont">
            {centerPageContent}
        </div>
    </div>

    <div id="footer" class="footer01">
        <div id="footerCont" class="grupo">
            <div class="celda4">
                <h2 class="mabo3">Links de Interes</h2>
                <ul class="menu06">
                    <li>
                        <a href="http://www.google.com/" target="_blank">www.google.com</a>
                    </li>
                    <li>
                        <a href="http://www.4chan.org/" target="_blank">www.4chan.org</a>
                    </li>
                    <li>
                        <a href="http://www.mardelplata.com/" target="_blank">www.mardelplata.com</a>
                    </li>
                    <li>
                        <a href="http://www.ajedrezonline.com/" target="_blank">www.ajedrezonline.com</a>
                    </li>
                </ul>
            </div>
            <div class="celda4">
                <h2 class="mabo3">Ultimas Publicaciones</h2>
                <!--BeginUltimasPublicacionesBlock-->
                <ul class="menu06">
                    <!--BeginPublicacionRowBlock-->
                    <li>
                        <a href="{hrefAmpliarPublicacion}">{sTitulo}</a><br>
                        <span class="fost_it fte2 co">por {sAutor}</span>
                    </li>
                    <!--EndPublicacionRowBlock-->
                </ul>
                <!--EndUltimasPublicacionesBlock-->
                <!--BeginUltimasPublicacionesNoRecordsBlock-->
                <span class="co2">No hay publicaciones en comunidad</span>
                <!--EndUltimasPublicacionesNoRecordsBlock-->
            </div>
            <div class="celda4">
                <h2 class="mabo3">Ultimas Instituciones</h2>
                <!--BeginUltimasInstitucionesBlock-->
                <ul class="menu06">
                    <!--BeginInstitucionRowBlock-->
                    <li>
                        <a href="{hrefAmpliarInstitucion}">{sNombre}</a><br>
                        <span class="fost_it fte2 co">{sTipoInstitucion}</span>
                    </li>
                    <!--EndInstitucionRowBlock-->
                </ul>
                <!--EndUltimasInstitucionesBlock-->
                <!--BeginUltimasInstitucionesNoRecordsBlock-->
                <span class="co2">No hay instituciones en comunidad</span>
                <!--EndUltimasInstitucionesNoRecordsBlock-->
            </div>
            <div class="celda4">
                <h2 class="mabo3">Redes sociales</h2>
                <ul class="m_horiz mato3 mabo2 grupo">
                    <li><a href="{hrefDelicious}" class='i32 sc delicious32'></a></li>
                    <li><a href="{hrefDigg}" class='i32 sc digg32'></a></li>
                    <li><a href="{hrefFacebook}" class='i32 sc facebook32'></a></li>
                    <li><a href="{hrefLinkedin}" class='i32 sc linkedin32'></a></li>
                </ul>
                <ul class="m_horiz mato3 grupo">
                    <li><a href="{hrefMyspace}" class='i32 sc myspace32'></a></li>
                    <li><a href="{hrefReddit}" class='i32 sc reddit32'></a></li>
                    <li><a href="{hrefTwitter}" class='i32 sc twitter32'></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="footerSub" class="footerSub01">
        <div id="footerSubCont">
            <div id="menu">
                <ul class="fl_le m_horiz menu04 grupo">
                    <li><a id="menuFooterInicio" href="{hrefOpcionInicio}">Inicio</a></li>
                    <li><a id="menuFooterAcceder" href="{hrefOpcionAcceder}">Acceder</a></li>
                    <li><a id="menuFooterPublicaciones" href="{hrefOpcionPublicaciones}">Publicaciones</a></li>
                    <li><a id="menuFooterInstituciones" href="{hrefOpcionInstituciones}">Instituciones</a></li>
                    <li class="mari0 bori_no"><a id="menuFooterProyecto" href="{hrefOpcionProyecto}">Proyecto</a></li>
                </ul>                
            </div>
            <div id="copyright">
                &copy;&nbsp;2011
                <a href="mailto:profedelfino@gmail.com">Andres Delfino</a> |
                <a href="mailto:rodrigo.a.rio@gmail.com">Rodrigo Rio</a> |
                <a href="mailto:matiasvelillamdq@gmail.com">Matias Velilla</a>.
                Proyecto de tesis Universidad FASTA Argentina.
            </div>
        </div>
    </div>

</body>
</html>