<!DOCTYPE html>

<html>

<head>
    <base href="{pathUrlBase}"><!--[if lte IE 8]></base><![endif]-->

    <title>{sTituloVista}</title>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-language" content="es" />
    <meta name="description" content="{sMetaDescription}" />
    <meta name="keywords" content="{sMetaKeywords}" />

    <link href="gui/css/vistas.css" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="gui/css/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="gui/css/prettyPhoto.css" type="text/css" media="screen, projection" charset="utf-8" />

    {cssContent}

    {jsContent}

    <script type="text/javascript"> var pathUrlBase = "{pathUrlBase}"; </script>

    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="gui/vistas-ie.css" media="screen, projection" /><![endif]-->
    <!--[if lte IE 6]><script type="text/javascript" src="utilidades/js-scripts/iepngfix/iepngfix_tilebg.js"></script><![endif]-->
</head>

<body id="frameIndex01" class="body01">
    {msgTop}

    <div id="header" class="header01">
        <div id="headerCont">
            <div id="logo">
                <div id="logo-name"><a href="http://www.ufasta.edu.ar" target="_blank"><img src="gui/images/banners-logos/fasta.png" alt=""/></a></div>
            </div>
            <div id="navigation">
                <div id="menu" class="menu03">
                    <ul class="menuList">
                        <li><a id="menuPpalInicio" href="{hrefOpcionInicio}">Inicio</a></li>
                        <li><a id="menuPpalAcceder" href="{hrefOpcionAcceder}">Acceder</a></li>
                        <li>
                            <a id="menuPpalComunidadAbierta" href="#">Comunidad Abierta</a>
                            <ul>
                                <li><a id="menuPpalPublicaciones" href="{hrefOpcionPublicaciones}">Publicaciones</a></li>
                                <li><a id="menuPpalInstituciones" href="{hrefOpcionInstituciones}">Instituciones</a></li>
                                <li><a id="menuPpalDescargas" href="{hrefOpcionDescargas}">Descargas</a></li>
                            </ul>
                        </li>                                               
                        <li>
                            <a id="menuPpalProyecto" href="{hrefOpcionProyecto}">Proyecto</a>
                            <ul>
                                <li><a id="menuPpalGrupoTrabajo" href="{hrefOpcionGrupoTrabajo}">Grupo de Trabajo</a></li>
                                <li><a id="menuPpalContacto" href="{hrefOpcionContacto}">Contacto</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="subHeader" class="subHeader01">
        <div id="subHeaderCont">
            <div id="titulo">SGPAPD</div>
            <div id="slogan">
                <h1>Sistema de gestión del proceso de aprendizaje en personas discapacitadas</h1>
            </div>
        </div>
    </div>

    <div id="topPage" class="topPage01">
        <div id="topPageCont">
            <h2>{sNombreSeccionTopPage}</h2>
            {topPageContent}
        </div>
    </div>

    <div id="centerPage" class="centerPage01">
        <div id="centerPageCont">
            {centerPageContent}
        </div>
    </div>

    <div id="footer" class="footer01">
        <div id="footerCont" class="grupo">
            {footerContent}
        </div>
    </div>

    <div id="footerSub" class="footerSub01">
        <div id="footerSubCont">
            <div id="menu">
                <ul class="fl_le m_horiz menu04 grupo">
                    <li><a id="menuFooterInicio" href="{hrefOpcionInicio}">Inicio</a></li>
                    <li><a id="menuFooterAcceder" href="{hrefOpcionAcceder}">Acceder</a></li>
                    <li><a id="menuFooterPublicaciones" href="{hrefOpcionPublicaciones}">Publicaciones</a></li>
                    <li><a id="menuFooterInstituciones" href="{hrefOpcionInstituciones}">Instituciones</a></li>
                    <li><a id="menuFooterDescargas" href="{hrefOpcionDescargas}">Descargas</a></li>
                    <li class="mari0 bori_no"><a id="menuFooterProyecto" href="{hrefOpcionProyecto}">Proyecto</a></li>
                </ul>                
            </div>
            <div id="copyright">
                &copy;&nbsp;2011
                <a href="mailto:profedelfino@gmail.com">Andres Delfino</a> |
                <a href="mailto:rodrigo.a.rio@gmail.com">Rodrigo Rio</a> |
                <a href="mailto:matiasvelillamdq@gmail.com">Matias Velilla</a>.
                Proyecto de tesis Universidad FASTA Argentina.
            </div>
        </div>
    </div>

</body>
</html>