<!DOCTYPE html>

<html>

<head>{headContent}</head>

<body id="frameIndex01" class="body01">

    <div id="header" class="header01">
        {msgTop}
        <div id="headerCont">
            <div id="logo">
                <div id="logo-name"><a href="{hrefLogoHeader}" target="_blank"><img src="{sourceLogoHeader}" alt=""/></a></div>
            </div>
            <div id="navigation">
                <div id="menu" class="menu03">
                    {menuHeader}
                </div>
            </div>
        </div>
    </div>

    <div id="subHeader" class="subHeader01">
        <div id="subHeaderCont">
            <div id="titulo">{tituloHeader}</div>
            <div id="slogan">
                <h1>{subtituloHeader}</h1>
            </div>
        </div>
    </div>

    <div id="Page" class="Page01 grupo">
        <div id="PageCont">
            <div class='columnas2A grupo'>
                <div class='col1 mihe1'>
                    {columnaIzquierdaContent}
                </div>
                <div class='col2 mihe1'>
                    {columnaDerechaContent}
                </div>
            </div>            
        </div>
    </div>

    <div id="footer" class="footer01">
        <div id="footerCont" class="grupo">
            {footerContent}
        </div>
    </div>

    <div id="footerSub" class="footerSub01">
        <div id="footerSubCont">
            <div id="menu" class="m_horiz">
                {footerSubContent}
            </div>
            <div id="copyright">
                {footerSubCopyright}
            </div>
        </div>
    </div>

</body>
</html>