<!DOCTYPE html>

<html>

<head>{headContent}</head>

<body id='frameBlog01' class="body01">
    {msgTop}
    <div id='wrapper' class="ba bora4 bosh2">

        <div id="header" class="header01 grupo">
            <img id="logo" src="{sourceLogoHeader}" alt="logo" height="{heightLogoHeader}" width="{widthLogoHeader}" />
            <div id="titulo">{tituloHeader}</div>
        </div>
        <div id="sub-header" class="sub-header01 grupo">
            {menuHeader}
        </div>

        <div id="subtitulo"><h2>{subtituloHeader}</h2></div>

        <div class='baco1 bora pa2'>
            {columnaCentralContent}
        </div>

        <div id="footer" class="baco2 footer01">
            {footerContent}
        </div>

    </div>
</body>
</html>